<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Sly: John Sylvester | Dog Walker & iOS Engineer</title>
	<style>
		@media (prefers-color-scheme: light) {
			:root {
				--bg-color: #ffffff;
				--text-color: #333;
			}
		}

		@media (prefers-color-scheme: dark) {
			:root {
				--bg-color: #333;
				--text-color: #f5f5f5;
			}
		}

		body {
			font-family: sans-serif;
			background-color: var(--bg-color);
			color: var(--text-color);
		}

		a {
			color: var(--text-color);
		}

		a svg {
			color: var(--text-color);
		}
	</style>
</head>

<body>
	<header>
		<h1>Sly</h1>
	</header>

	<main>
		<h1>WWDC24</h1>
  
        <h2>Developer Site</h2>
        <ul>
            <li><a href="https://developer.apple.com/wwdc24/">WWDC24</a></li>
            <li><a href="https://developer.apple.com/wwdc24/sessions/">Sessions</a></li>
            <li><a href="https://developer.apple.com/wwdc24/guides/">Guides</a></li>
            <li><a href="https://developer.apple.com/forums/">Forums</a></li>
            <li><a href="https://www.youtube.com/@AppleDeveloper/">YouTube</a></li>
        </ul>

        <h2>Day One</h2>
		<a href="https://developer.apple.com/news/?id=20mtt804">Today @ WWDC24: Day 1</a>

        <h3>Videos</h3>
        <ul>
            <li><a href="https://www.apple.com/apple-events/">Keynote</a> <a href="https://www.youtube.com/watch?v=RXeOiIDNNek">YouTube</a></li>
            <li><a href="">Platforms State of the Union</a></li>
        </ul>
        
        <h3>Articles</h3>
        <ul>
        <li><a href="https://developer.apple.com/documentation/updates">Documentation updates</a></li>
        <li><a href="https://developer.apple.com/documentation/updates/swift">Swift updates</a></li>
        <li><a href="https://developer.apple.com/documentation/updates/swiftui">SwiftUI updates</a></li>
        <li><a href="https://developer.apple.com/documentation/updates/uikit">UIKit updates</a></li>
        <li><a href="https://developer.apple.com/documentation/updates/foundation">Foundation updates</a></li>
        <li><a href="https://developer.apple.com/documentation/updates/xcode">Xcode updates</a></li>
        <li><a href="https://developer.apple.com/documentation/SwiftUI/TextRenderer">TextRenderer</a></li>
        <li><a href="https://www.swift.org/migration/documentation/migrationguide/">Migrating to Swift 6</a></li>
        <li><a href="https://security.apple.com/blog/private-cloud-compute/">Private Cloud Compute: A new frontier for AI privacy in the cloud</a></li>
        <li><a href="https://developer.apple.com/news/?id=og4hxxz8">Updated agreements and guidelines now available</a></li>
        <li><a href="https://developer.apple.com/news/?id=lfufk91n">WWDC24 sessions schedule, lab requests, guides, and documentation now available</a></li>
        <li><a href="https://developer.apple.com/news/?id=5uxs103n">WWDC24 visionOS guide</a></li>
        <li><a href="https://developer.apple.com/news/?id=91npyek7">WWDC24 watchOS guide</a></li>
        <li><a href="https://developer.apple.com/news/?id=ibe0jb52">WWDC24 Games guide</a></li>
        <li><a href="https://developer.apple.com/news/?id=pby7a6ex">WWDC24 Machine Learning & AI guide</a></li>
        <li><a href="https://developer.apple.com/news/?id=1zzg8inp">WWDC24 iOS & iPadOS guide</a></li>
        <li><a href="https://developer.apple.com/news/?id=a693fazi">WWDC24 Developer Tools guide</a></li>
        <li><a href="https://developer.apple.com/news/?id=zqzlvxlm">WWDC24 SwiftUI & UI Frameworks guide</a></li>
        <li><a href="https://developer.apple.com/news/?id=0ofaehl4">WWDC24 Swift guide</a></li>
        <li><a href="https://developer.apple.com/news/?id=s9s75a8k">WWDC24 Design guide</a></li>
        <li><a href="https://developer.apple.com/whats-new/">What’s new for Apple developers</a></li>
        <li><a href="https://developer.apple.com/news/?id=mxvjyow1">Explore new documentation and sample code from WWDC24</a></li>
        <li><a href="https://developer.apple.com/ios/">Get ready for iOS 18</a></li>
        <li><a href="https://developer.apple.com/ipados/">Get ready for iPadOS 18</a></li>
        <li><a href="https://developer.apple.com/macos/">Get ready for macOS Sequoia</a></li>
        <li><a href="https://developer.apple.com/tvos/">Get ready for tvOS 18</a></li>
        <li><a href="https://developer.apple.com/watchos/">Get ready for watchOS 11</a></li>
        <li><a href="https://developer.apple.com/visionos/">Discover visionOS</a></li>
        <li><a href="https://developer.apple.com/documentation/xcode-release-notes/xcode-16-release-notes">Xcode 16 Beta Release Notes</a></li>
        <li><a href="https://developer.apple.com/documentation/ios-ipados-release-notes/ios-ipados-18-release-notes">iOS & iPadOS 18 Beta Release Notes</a></li>
        <li><a href="https://developer.apple.com/documentation/macos-release-notes/macos-15-release-notes">macOS Sequoia 15 Beta Release Notes</a></li>
        <li><a href="https://developer.apple.com/documentation/tvos-release-notes/tvos-18-release-notes">tvOS 18 Beta Release Notes</a></li>
        <li><a href="https://developer.apple.com/documentation/visionos-release-notes/visionos-2-release-notes">visionOS 2 Beta Release Notes</a></li>
        <li><a href="https://developer.apple.com/documentation/watchos-release-notes/watchos-11-release-notes">watchOS 11 Beta Release Notes</a></li>
        <li><a href="https://developer.apple.com/sample-code/wwdc/2024/">WWDC24 sample code</a></li>
        <li><a href="https://developer.apple.com/design/human-interface-guidelines/">Updated Human Interface Guidelines</a></li>
        <li><a href="https://developer.apple.com/apple-intelligence/">Apple Intelligence</a></li>
        <li><a href="https://developer.apple.com/xcode/swift-testing/">Swift Testing</a></li>
        <li><a href="https://machinelearning.apple.com/research/introducing-apple-foundation-models">Introducing Apple’s On-Device and Server Foundation Models</a></li>
        
		<li><a href="https://www.hackingwithswift.com/articles/269/whats-new-in-swift-6">What's new in Swift 6.0?</a> Paul Hudson</li>
        <li><a href="https://swiftwithmajid.com/2024/06/10/what-is-new-in-swiftui-after-wwdc24/">What is new in SwiftUI after WWDC 24</a></li>
        <li><a href="https://512pixels.net/2024/06/wwdc24-the-os-bento-boxes/">WWDC24: The OS Bento Boxes</a></li>
        <li><a href="https://512pixels.net/2024/06/wwdc24-system-requirements-for-ios-18-ipados-18-and-macos-sequoia/">WWDC24: System Requirements for iOS 18, iPadOS 18, macOS Sequoia, Etc…</a></li>
        <li><a href="https://www.macstories.net/news/visionos-2-the-macstories-overview/">visionOS 2: The MacStories Overview</a></li>
        <li><a href="https://www.macstories.net/news/macos-sequoia-the-macstories-overview/">macOS Sequoia: The MacStories Overview</a></li>
        <li><a href="https://www.macstories.net/news/watchos-11-the-macstories-overview/">watchOS 11: The MacStories Overview</a></li>
        <li><a href="https://www.macstories.net/stories/ios-and-ipados-18-the-macstories-overview/">iOS and iPadOS 18: The MacStories Overview</a></li>
        <li><a href="https://www.macstories.net/news/apple-intelligence-the-macstories-overview/">Apple Intelligence: The MacStories Overview</a></li>
        <li><a href="https://www.macstories.net/news/a-look-at-code-completion-and-swift-assist-coming-in-xcode-16/">A Look at Code Completion and Swift Assist Coming in Xcode 16</a></li>
        <li><a href="https://mrmacintosh.com/macos-sequoia-full-installer-database-download-directly-from-apple/">macOS Sequoia Full Installer</a></li>
        </ul>
        
        <h3>Toots</h3>
        <iframe src="https://mastodon.social/@Pschiller/112592953051684896/embed" class="mastodon-embed" style="max-width: 100%; border: 0" width="400" allowfullscreen="allowfullscreen"></iframe><script src="https://mastodon.social/embed.js" async="async"></script>
        <iframe src="https://mastodon.social/@mactanaka/112593449292670733/embed" class="mastodon-embed" style="max-width: 100%; border: 0" width="400" allowfullscreen="allowfullscreen"></iframe><script src="https://mastodon.social/embed.js" async="async"></script>
        <iframe src="https://mastodon.social/@mactanaka/112593513997173343/embed" class="mastodon-embed" style="max-width: 100%; border: 0" width="400" allowfullscreen="allowfullscreen"></iframe><script src="https://mastodon.social/embed.js" async="async"></script>
        <iframe src="https://mastodon.social/@mactanaka/112593535784202944/embed" class="mastodon-embed" style="max-width: 100%; border: 0" width="400" allowfullscreen="allowfullscreen"></iframe><script src="https://mastodon.social/embed.js" async="async"></script>
        <iframe src="https://mastodon.social/@mactanaka/112593562907533314/embed" class="mastodon-embed" style="max-width: 100%; border: 0" width="400" allowfullscreen="allowfullscreen"></iframe><script src="https://mastodon.social/embed.js" async="async"></script>
        <iframe src="https://mastodon.social/@mactanaka/112593594021618838/embed" class="mastodon-embed" style="max-width: 100%; border: 0" width="400" allowfullscreen="allowfullscreen"></iframe><script src="https://mastodon.social/embed.js" async="async"></script>
        <iframe src="https://mastodon.social/@mactanaka/112593646160787517/embed" class="mastodon-embed" style="max-width: 100%; border: 0" width="400" allowfullscreen="allowfullscreen"></iframe><script src="https://mastodon.social/embed.js" async="async"></script>
        <iframe src="https://mastodon.social/@Cdespinosa/112593604295069880/embed" class="mastodon-embed" style="max-width: 100%; border: 0" width="400" allowfullscreen="allowfullscreen"></iframe><script src="https://mastodon.social/embed.js" async="async"></script>
        <iframe src="https://mastodon.social/@tolmasky/112593618054737936/embed" class="mastodon-embed" style="max-width: 100%; border: 0" width="400" allowfullscreen="allowfullscreen"></iframe><script src="https://mastodon.social/embed.js" async="async"></script>
        <iframe src="https://techhub.social/@anAppleEmployee/112593614958212472/embed" class="mastodon-embed" style="max-width: 100%; border: 0" width="400" allowfullscreen="allowfullscreen"></iframe><script src="https://techhub.social/embed.js" async="async"></script>
        <iframe src="https://mastodon.social/@gedeonm/112593673923566887/embed" class="mastodon-embed" style="max-width: 100%; border: 0" width="400" allowfullscreen="allowfullscreen"></iframe><script src="https://mastodon.social/embed.js" async="async"></script>
        <iframe src="https://mastodon.social/@shantara/112593699691277971/embed" class="mastodon-embed" style="max-width: 100%; border: 0" width="400" allowfullscreen="allowfullscreen"></iframe><script src="https://mastodon.social/embed.js" async="async"></script>
        <iframe src="https://mastodon.social/@jefframes/112593701526837713/embed" class="mastodon-embed" style="max-width: 100%; border: 0" width="400" allowfullscreen="allowfullscreen"></iframe><script src="https://mastodon.social/embed.js" async="async"></script>
        <iframe src="https://mastodon.social/@mactanaka/112593778140353121/embed" class="mastodon-embed" style="max-width: 100%; border: 0" width="400" allowfullscreen="allowfullscreen"></iframe><script src="https://mastodon.social/embed.js" async="async"></script>
        <iframe src="https://mastodon.social/@gedeonm/112593831042392193/embed" class="mastodon-embed" style="max-width: 100%; border: 0" width="400" allowfullscreen="allowfullscreen"></iframe><script src="https://mastodon.social/embed.js" async="async"></script>
        <iframe src="https://social.panic.com/@cabel/112593843152220844/embed" class="mastodon-embed" style="max-width: 100%; border: 0" width="400" allowfullscreen="allowfullscreen"></iframe><script src="https://social.panic.com/embed.js" async="async"></script>
        <iframe src="https://mastodon.social/@stroughtonsmith/112593862748433033/embed" class="mastodon-embed" style="max-width: 100%; border: 0" width="400" allowfullscreen="allowfullscreen"></iframe><script src="https://mastodon.social/embed.js" async="async"></script>
        <iframe src="https://mastodon.social/@stroughtonsmith/112593878035401586/embed" class="mastodon-embed" style="max-width: 100%; border: 0" width="400" allowfullscreen="allowfullscreen"></iframe><script src="https://mastodon.social/embed.js" async="async"></script>
        <iframe src="https://mastodon.social/@mvo/112593730701166510/embed" class="mastodon-embed" style="max-width: 100%; border: 0" width="400" allowfullscreen="allowfullscreen"></iframe><script src="https://mastodon.social/embed.js" async="async"></script>
        <iframe src="https://mastodon.social/@mactanaka/112593903000561537/embed" class="mastodon-embed" style="max-width: 100%; border: 0" width="400" allowfullscreen="allowfullscreen"></iframe><script src="https://mastodon.social/embed.js" async="async"></script>
        <iframe src="https://mastodon.social/@_inside/112593905752182808/embed" class="mastodon-embed" style="max-width: 100%; border: 0" width="400" allowfullscreen="allowfullscreen"></iframe><script src="https://mastodon.social/embed.js" async="async"></script>
        <iframe src="https://mastodon.social/@danielpunkass/112593970252285229/embed" class="mastodon-embed" style="max-width: 100%; border: 0" width="400" allowfullscreen="allowfullscreen"></iframe><script src="https://mastodon.social/embed.js" async="async"></script>
        <iframe src="https://mastodon.social/@dlx/112594024858152381/embed" class="mastodon-embed" style="max-width: 100%; border: 0" width="400" allowfullscreen="allowfullscreen"></iframe><script src="https://mastodon.social/embed.js" async="async"></script>
        <iframe src="https://mastodon.social/@ryanlintott/112594040435290492/embed" class="mastodon-embed" style="max-width: 100%; border: 0" width="400" allowfullscreen="allowfullscreen"></iframe><script src="https://mastodon.social/embed.js" async="async"></script>
        <iframe src="https://techhub.social/@xcodereleases/112594087952321801/embed" class="mastodon-embed" style="max-width: 100%; border: 0" width="400" allowfullscreen="allowfullscreen"></iframe><script src="https://techhub.social/embed.js" async="async"></script>
        <iframe src="https://hachyderm.io/@samhenrigold/112593976360975672/embed" class="mastodon-embed" style="max-width: 100%; border: 0" width="400" allowfullscreen="allowfullscreen"></iframe><script src="https://hachyderm.io/embed.js" async="async"></script>
        <iframe src="https://mastodon.social/@twostraws/112594128759602208/embed" class="mastodon-embed" style="max-width: 100%; border: 0" width="400" allowfullscreen="allowfullscreen"></iframe><script src="https://mastodon.social/embed.js" async="async"></script>
        <iframe src="https://mastodon.social/@elektrojunge/112594049038554263/embed" class="mastodon-embed" style="max-width: 100%; border: 0" width="400" allowfullscreen="allowfullscreen"></iframe><script src="https://mastodon.social/embed.js" async="async"></script>
        <iframe src="https://mastodon.social/@Mecid/112594150118120077/embed" class="mastodon-embed" style="max-width: 100%; border: 0" width="400" allowfullscreen="allowfullscreen"></iframe><script src="https://mastodon.social/embed.js" async="async"></script>
        <iframe src="https://mastodon.social/@stern/112594173067059363/embed" class="mastodon-embed" style="max-width: 100%; border: 0" width="400" allowfullscreen="allowfullscreen"></iframe><script src="https://mastodon.social/embed.js" async="async"></script>
        <iframe src="https://mastodon.social/@marcel/112594176758433067/embed" class="mastodon-embed" style="max-width: 100%; border: 0" width="400" allowfullscreen="allowfullscreen"></iframe><script src="https://mastodon.social/embed.js" async="async"></script>
        <iframe src="https://fedi.simonwillison.net/@simon/112594192280211716/embed" class="mastodon-embed" style="max-width: 100%; border: 0" width="400" allowfullscreen="allowfullscreen"></iframe><script src="https://fedi.simonwillison.net/embed.js" async="async"></script>
        <iframe src="https://front-end.social/@jensimmons/112594149808315455/embed" class="mastodon-embed" style="max-width: 100%; border: 0" width="400" allowfullscreen="allowfullscreen"></iframe><script src="https://front-end.social/embed.js" async="async"></script>
        <iframe src="https://mastodon.social/@Mecid/112594205988288169/embed" class="mastodon-embed" style="max-width: 100%; border: 0" width="400" allowfullscreen="allowfullscreen"></iframe><script src="https://mastodon.social/embed.js" async="async"></script>
        <iframe src="https://mastodon.social/@airspeedswift/112594233340269442/embed" class="mastodon-embed" style="max-width: 100%; border: 0" width="400" allowfullscreen="allowfullscreen"></iframe><script src="https://mastodon.social/embed.js" async="async"></script>
        <iframe src="https://mastodon.social/@airspeedswift/112594253312723844/embed" class="mastodon-embed" style="max-width: 100%; border: 0" width="400" allowfullscreen="allowfullscreen"></iframe><script src="https://mastodon.social/embed.js" async="async"></script>
        <iframe src="https://mastodon.social/@stroughtonsmith/112594254022308963/embed" class="mastodon-embed" style="max-width: 100%; border: 0" width="400" allowfullscreen="allowfullscreen"></iframe><script src="https://mastodon.social/embed.js" async="async"></script>
        <iframe src="https://mastodon.social/@simonbs/112594260931025607/embed" class="mastodon-embed" style="max-width: 100%; border: 0" width="400" allowfullscreen="allowfullscreen"></iframe><script src="https://mastodon.social/embed.js" async="async"></script>
        <iframe src="https://mastodon.social/@marioguzman/112594326846035573/embed" class="mastodon-embed" style="max-width: 100%; border: 0" width="400" allowfullscreen="allowfullscreen"></iframe><script src="https://mastodon.social/embed.js" async="async"></script>
        <iframe src="https://mastodon.social/@marioguzman/112594333841470062/embed" class="mastodon-embed" style="max-width: 100%; border: 0" width="400" allowfullscreen="allowfullscreen"></iframe><script src="https://mastodon.social/embed.js" async="async"></script>
        <iframe src="https://mastodon.social/@finnvoorhees/112594317824082204/embed" class="mastodon-embed" style="max-width: 100%; border: 0" width="400" allowfullscreen="allowfullscreen"></iframe><script src="https://mastodon.social/embed.js" async="async"></script>
        <iframe src="https://mastodon.social/@airspeedswift/112594363001504073/embed" class="mastodon-embed" style="max-width: 100%; border: 0" width="400" allowfullscreen="allowfullscreen"></iframe><script src="https://mastodon.social/embed.js" async="async"></script>
        <iframe src="https://mastodon.social/@dlx/112594364269853895/embed" class="mastodon-embed" style="max-width: 100%; border: 0" width="400" allowfullscreen="allowfullscreen"></iframe><script src="https://mastodon.social/embed.js" async="async"></script>
        <iframe src="https://iosdev.space/@feli/112593821284199119/embed" class="mastodon-embed" style="max-width: 100%; border: 0" width="400" allowfullscreen="allowfullscreen"></iframe><script src="https://iosdev.space/embed.js" async="async"></script>
        <iframe src="https://mastodon.social/@stern/112594411782749077/embed" class="mastodon-embed" style="max-width: 100%; border: 0" width="400" allowfullscreen="allowfullscreen"></iframe><script src="https://mastodon.social/embed.js" async="async"></script>
        <iframe src="https://mastodon.social/@stern/112594425047249894/embed" class="mastodon-embed" style="max-width: 100%; border: 0" width="400" allowfullscreen="allowfullscreen"></iframe><script src="https://mastodon.social/embed.js" async="async"></script>
        <iframe src="https://mastodon.social/@stern/112594436003961916/embed" class="mastodon-embed" style="max-width: 100%; border: 0" width="400" allowfullscreen="allowfullscreen"></iframe><script src="https://mastodon.social/embed.js" async="async"></script>
        <iframe src="https://social.panic.com/@cabel/112594470592842095/embed" class="mastodon-embed" style="max-width: 100%; border: 0" width="400" allowfullscreen="allowfullscreen"></iframe><script src="https://social.panic.com/embed.js" async="async"></script>
        <iframe src="https://mastodon.social/@calicoding/112594518335398199/embed" class="mastodon-embed" style="max-width: 100%; border: 0" width="400" allowfullscreen="allowfullscreen"></iframe><script src="https://mastodon.social/embed.js" async="async"></script>
        <iframe src="https://mastodon.social/@schwa/112594537597087312/embed" class="mastodon-embed" style="max-width: 100%; border: 0" width="400" allowfullscreen="allowfullscreen"></iframe><script src="https://mastodon.social/embed.js" async="async"></script>
        <iframe src="https://mastodon.xyz/@bens/112594610465717218/embed" class="mastodon-embed" style="max-width: 100%; border: 0" width="400" allowfullscreen="allowfullscreen"></iframe><script src="https://mastodon.xyz/embed.js" async="async"></script>
        <iframe src="https://mastodon.social/@Bas/112594583194211562/embed" class="mastodon-embed" style="max-width: 100%; border: 0" width="400" allowfullscreen="allowfullscreen"></iframe><script src="https://mastodon.social/embed.js" async="async"></script>
        <iframe src="https://mastodon.social/@stroughtonsmith/112594639473546088/embed" class="mastodon-embed" style="max-width: 100%; border: 0" width="400" allowfullscreen="allowfullscreen"></iframe><script src="https://mastodon.social/embed.js" async="async"></script>
        <iframe src="https://sfba.social/@juanarzola/112594671083619338/embed" class="mastodon-embed" style="max-width: 100%; border: 0" width="400" allowfullscreen="allowfullscreen"></iframe><script src="https://sfba.social/embed.js" async="async"></script>
        <iframe src="https://mastodon.social/@stroughtonsmith/112594678558794510/embed" class="mastodon-embed" style="max-width: 100%; border: 0" width="400" allowfullscreen="allowfullscreen"></iframe><script src="https://mastodon.social/embed.js" async="async"></script>
        <iframe src="https://mastodon.social/@stroughtonsmith/112594684036403887/embed" class="mastodon-embed" style="max-width: 100%; border: 0" width="400" allowfullscreen="allowfullscreen"></iframe><script src="https://mastodon.social/embed.js" async="async"></script>
        <iframe src="https://mastodon.social/@deanatoire/112594688127592802/embed" class="mastodon-embed" style="max-width: 100%; border: 0" width="400" allowfullscreen="allowfullscreen"></iframe><script src="https://mastodon.social/embed.js" async="async"></script>
        <iframe src="https://mastodon.social/@Mecid/112594712511969855/embed" class="mastodon-embed" style="max-width: 100%; border: 0" width="400" allowfullscreen="allowfullscreen"></iframe><script src="https://mastodon.social/embed.js" async="async"></script>
        <iframe src="https://mstdn.social/@davidbures/112594774020495622/embed" class="mastodon-embed" style="max-width: 100%; border: 0" width="400" allowfullscreen="allowfullscreen"></iframe><script src="https://mstdn.social/embed.js" async="async"></script>
        <iframe src="https://mastodon.social/@jsq/112594824977022707/embed" class="mastodon-embed" style="max-width: 100%; border: 0" width="400" allowfullscreen="allowfullscreen"></iframe><script src="https://mastodon.social/embed.js" async="async"></script>
        <iframe src="https://isfeeling.social/@matt/112595000968771253/embed" class="mastodon-embed" style="max-width: 100%; border: 0" width="400" allowfullscreen="allowfullscreen"></iframe><script src="https://isfeeling.social/embed.js" async="async"></script>
        <iframe src="https://mastodon.social/@Bas/112594891735032917/embed" class="mastodon-embed" style="max-width: 100%; border: 0" width="400" allowfullscreen="allowfullscreen"></iframe><script src="https://mastodon.social/embed.js" async="async"></script>
        <iframe src="https://mastodon.social/@akashivskyy/112595046501259405/embed" class="mastodon-embed" style="max-width: 100%; border: 0" width="400" allowfullscreen="allowfullscreen"></iframe><script src="https://mastodon.social/embed.js" async="async"></script>
        <iframe src="https://mastodon.social/@michaelsteeber/112595111377112622/embed" class="mastodon-embed" style="max-width: 100%; border: 0" width="400" allowfullscreen="allowfullscreen"></iframe><script src="https://mastodon.social/embed.js" async="async"></script>
        <iframe src="https://mastodon.well.com/@ianb/112593983732733332/embed" class="mastodon-embed" style="max-width: 100%; border: 0" width="400" allowfullscreen="allowfullscreen"></iframe><script src="https://mastodon.well.com/embed.js" async="async"></script>
        <iframe src="https://iosdev.space/@Jeehut/112595209741023147/embed" class="mastodon-embed" style="max-width: 100%; border: 0" width="400" allowfullscreen="allowfullscreen"></iframe><script src="https://iosdev.space/embed.js" async="async"></script>
        <iframe src="https://iosdev.space/@Jeehut/112595230835976244/embed" class="mastodon-embed" style="max-width: 100%; border: 0" width="400" allowfullscreen="allowfullscreen"></iframe><script src="https://iosdev.space/embed.js" async="async"></script>
        <iframe src="https://mastodon.social/@phausler/112595173657946895/embed" class="mastodon-embed" style="max-width: 100%; border: 0" width="400" allowfullscreen="allowfullscreen"></iframe><script src="https://mastodon.social/embed.js" async="async"></script>
        <iframe src="https://mastodon.social/@schwa/112595254018795974/embed" class="mastodon-embed" style="max-width: 100%; border: 0" width="400" allowfullscreen="allowfullscreen"></iframe><script src="https://mastodon.social/embed.js" async="async"></script>
        <iframe src="https://social.lol/@robb/112596344566468201/embed" class="mastodon-embed" style="max-width: 100%; border: 0" width="400" allowfullscreen="allowfullscreen"></iframe><script src="https://social.lol/embed.js" async="async"></script>
        <iframe src="https://mastodon.social/@gluebyte/112596468125927030/embed" class="mastodon-embed" style="max-width: 100%; border: 0" width="400" allowfullscreen="allowfullscreen"></iframe><script src="https://mastodon.social/embed.js" async="async"></script>
        <iframe src="https://mstdn.social/@mike_k/112596663160918001/embed" class="mastodon-embed" style="max-width: 100%; border: 0" width="400" allowfullscreen="allowfullscreen"></iframe><script src="https://mstdn.social/embed.js" async="async"></script>
        <iframe src="https://mastodon.social/@simonbs/112596841417728069/embed" class="mastodon-embed" style="max-width: 100%; border: 0" width="400" allowfullscreen="allowfullscreen"></iframe><script src="https://mastodon.social/embed.js" async="async"></script>
        <iframe src="https://iosdev.space/@alpennec/112596930470033137/embed" class="mastodon-embed" style="max-width: 100%; border: 0" width="400" allowfullscreen="allowfullscreen"></iframe><script src="https://iosdev.space/embed.js" async="async"></script>
        <iframe src="https://iosdev.space/@alpennec/112597025091521258/embed" class="mastodon-embed" style="max-width: 100%; border: 0" width="400" allowfullscreen="allowfullscreen"></iframe><script src="https://iosdev.space/embed.js" async="async"></script>
        <iframe src="https://mastodon.social/@mysk/112597073658784905/embed" class="mastodon-embed" style="max-width: 100%; border: 0" width="400" allowfullscreen="allowfullscreen"></iframe><script src="https://mastodon.social/embed.js" async="async"></script>
	</main>

	<footer>
		<span>
			<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-mastodon"
				viewBox="0 0 16 16">
				<path
					d="M11.19 12.195c2.016-.24 3.77-1.475 3.99-2.603.348-1.778.32-4.339.32-4.339 0-3.47-2.286-4.488-2.286-4.488C12.062.238 10.083.017 8.027 0h-.05C5.92.017 3.942.238 2.79.765c0 0-2.285 1.017-2.285 4.488l-.002.662c-.004.64-.007 1.35.011 2.091.083 3.394.626 6.74 3.78 7.57 1.454.383 2.703.463 3.709.408 1.823-.1 2.847-.647 2.847-.647l-.06-1.317s-1.303.41-2.767.36c-1.45-.05-2.98-.156-3.215-1.928a4 4 0 0 1-.033-.496s1.424.346 3.228.428c1.103.05 2.137-.064 3.188-.189zm1.613-2.47H11.13v-4.08c0-.859-.364-1.295-1.091-1.295-.804 0-1.207.517-1.207 1.541v2.233H7.168V5.89c0-1.024-.403-1.541-1.207-1.541-.727 0-1.091.436-1.091 1.296v4.079H3.197V5.522q0-1.288.66-2.046c.456-.505 1.052-.764 1.793-.764.856 0 1.504.328 1.933.983L8 4.39l.417-.695c.429-.655 1.077-.983 1.934-.983.74 0 1.336.259 1.791.764q.662.757.661 2.046z" />
			</svg>
			<a href="https://mastodon.social/@mrjohnsly">Mastodon</a>
		</span>
		<span>
			<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-github"
				viewBox="0 0 16 16">
				<path
					d="M8 0C3.58 0 0 3.58 0 8c0 3.54 2.29 6.53 5.47 7.59.4.07.55-.17.55-.38 0-.19-.01-.82-.01-1.49-2.01.37-2.53-.49-2.69-.94-.09-.23-.48-.94-.82-1.13-.28-.15-.68-.52-.01-.53.63-.01 1.08.58 1.23.82.72 1.21 1.87.87 2.33.66.07-.52.28-.87.51-1.07-1.78-.2-3.64-.89-3.64-3.95 0-.87.31-1.59.82-2.15-.08-.2-.36-1.02.08-2.12 0 0 .67-.21 2.2.82.64-.18 1.32-.27 2-.27s1.36.09 2 .27c1.53-1.04 2.2-.82 2.2-.82.44 1.1.16 1.92.08 2.12.51.56.82 1.27.82 2.15 0 3.07-1.87 3.75-3.65 3.95.29.25.54.73.54 1.48 0 1.07-.01 1.93-.01 2.2 0 .21.15.46.55.38A8.01 8.01 0 0 0 16 8c0-4.42-3.58-8-8-8" />
			</svg>
			<a href="https://github.com/mrjohnsly">Github</a>
		</span>
	</footer>
</body>
</html>
