<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Sly: John Sylvester | Dog Walker & iOS Engineer</title>
	<style>
		@media (prefers-color-scheme: light) {
			:root {
				--bg-color: #ffffff;
				--text-color: #333;
			}
		}

		@media (prefers-color-scheme: dark) {
			:root {
				--bg-color: #333;
				--text-color: #f5f5f5;
			}
		}

		body {
			font-family: sans-serif;
			background-color: var(--bg-color);
			color: var(--text-color);
		}

		a {
			color: var(--text-color);
		}

		a svg {
			color: var(--text-color);
		}
	</style>
</head>

<body>
	<header>
		<h1>Sly</h1>
	</header>

	<main>
		<h1>WWDC24</h1>
  
        <h2>Developer Site</h2>
        <ul>
            <li><a href="https://developer.apple.com/wwdc24/">WWDC24</a></li>
            <li><a href="https://developer.apple.com/wwdc24/sessions/">Sessions</a></li>
            <li><a href="https://developer.apple.com/wwdc24/guides/">Guides</a></li>
            <li><a href="https://developer.apple.com/forums/">Forums</a></li>
            <li><a href="https://www.youtube.com/@AppleDeveloper/">YouTube</a></li>
        </ul>
        
        <a href="https://wwdcnotes.github.io/WWDCNotes/documentation/wwdcnotes/wwdc24">WWDC Notes</a>

        <h2>Day One</h2>
		<a href="https://developer.apple.com/news/?id=20mtt804">Today @ WWDC24: Day 1</a>

        <h3>Videos</h3>
        <ul>
            <li><a href="https://www.apple.com/apple-events/">Keynote</a> <a href="https://www.youtube.com/watch?v=RXeOiIDNNek">YouTube</a></li>
            <li><a href="">Platforms State of the Union</a></li>
        </ul>
        
        <h3>Articles</h3>
        <ul>
        <li><a href="https://developer.apple.com/documentation/updates">Documentation updates</a></li>
        <li><a href="https://developer.apple.com/documentation/updates/swift">Swift updates</a></li>
        <li><a href="https://developer.apple.com/documentation/updates/swiftui">SwiftUI updates</a></li>
        <li><a href="https://developer.apple.com/documentation/updates/uikit">UIKit updates</a></li>
        <li><a href="https://developer.apple.com/documentation/updates/foundation">Foundation updates</a></li>
        <li><a href="https://developer.apple.com/documentation/updates/xcode">Xcode updates</a></li>
        <li><a href="https://developer.apple.com/documentation/SwiftUI/TextRenderer">TextRenderer</a></li>
        <li><a href="https://www.swift.org/migration/documentation/migrationguide/">Migrating to Swift 6</a></li>
        <li><a href="https://security.apple.com/blog/private-cloud-compute/">Private Cloud Compute: A new frontier for AI privacy in the cloud</a></li>
        <li><a href="https://developer.apple.com/news/?id=og4hxxz8">Updated agreements and guidelines now available</a></li>
        <li><a href="https://developer.apple.com/news/?id=lfufk91n">WWDC24 sessions schedule, lab requests, guides, and documentation now available</a></li>
        <li><a href="https://developer.apple.com/news/?id=5uxs103n">WWDC24 visionOS guide</a></li>
        <li><a href="https://developer.apple.com/news/?id=91npyek7">WWDC24 watchOS guide</a></li>
        <li><a href="https://developer.apple.com/news/?id=ibe0jb52">WWDC24 Games guide</a></li>
        <li><a href="https://developer.apple.com/news/?id=pby7a6ex">WWDC24 Machine Learning & AI guide</a></li>
        <li><a href="https://developer.apple.com/news/?id=1zzg8inp">WWDC24 iOS & iPadOS guide</a></li>
        <li><a href="https://developer.apple.com/news/?id=a693fazi">WWDC24 Developer Tools guide</a></li>
        <li><a href="https://developer.apple.com/news/?id=zqzlvxlm">WWDC24 SwiftUI & UI Frameworks guide</a></li>
        <li><a href="https://developer.apple.com/news/?id=0ofaehl4">WWDC24 Swift guide</a></li>
        <li><a href="https://developer.apple.com/news/?id=s9s75a8k">WWDC24 Design guide</a></li>
        <li><a href="https://developer.apple.com/whats-new/">What’s new for Apple developers</a></li>
        <li><a href="https://developer.apple.com/news/?id=mxvjyow1">Explore new documentation and sample code from WWDC24</a></li>
        <li><a href="https://developer.apple.com/ios/">Get ready for iOS 18</a></li>
        <li><a href="https://developer.apple.com/ipados/">Get ready for iPadOS 18</a></li>
        <li><a href="https://developer.apple.com/macos/">Get ready for macOS Sequoia</a></li>
        <li><a href="https://developer.apple.com/tvos/">Get ready for tvOS 18</a></li>
        <li><a href="https://developer.apple.com/watchos/">Get ready for watchOS 11</a></li>
        <li><a href="https://developer.apple.com/visionos/">Discover visionOS</a></li>
        <li><a href="https://developer.apple.com/documentation/xcode-release-notes/xcode-16-release-notes">Xcode 16 Beta Release Notes</a></li>
        <li><a href="https://developer.apple.com/documentation/ios-ipados-release-notes/ios-ipados-18-release-notes">iOS & iPadOS 18 Beta Release Notes</a></li>
        <li><a href="https://developer.apple.com/documentation/macos-release-notes/macos-15-release-notes">macOS Sequoia 15 Beta Release Notes</a></li>
        <li><a href="https://developer.apple.com/documentation/tvos-release-notes/tvos-18-release-notes">tvOS 18 Beta Release Notes</a></li>
        <li><a href="https://developer.apple.com/documentation/visionos-release-notes/visionos-2-release-notes">visionOS 2 Beta Release Notes</a></li>
        <li><a href="https://developer.apple.com/documentation/watchos-release-notes/watchos-11-release-notes">watchOS 11 Beta Release Notes</a></li>
        <li><a href="https://developer.apple.com/sample-code/wwdc/2024/">WWDC24 sample code</a></li>
        <li><a href="https://developer.apple.com/design/human-interface-guidelines/">Updated Human Interface Guidelines</a></li>
        <li><a href="https://developer.apple.com/apple-intelligence/">Apple Intelligence</a></li>
        <li><a href="https://developer.apple.com/xcode/swift-testing/">Swift Testing</a></li>
        <li><a href="https://machinelearning.apple.com/research/introducing-apple-foundation-models">Introducing Apple’s On-Device and Server Foundation Models</a></li>
        <li><a href="https://www.apple.com/macos/macos-sequoia-preview/">macOS Sequoia Preview</a></li>
        <li><a href="https://www.apple.com/ios/ios-18-preview/">iOS 18 Preview</a></li>
        <li><a href="https://www.apple.com/ipados/ipados-18-preview/">iPadOS 18 Preview</a></li>
        <li><a href="https://www.apple.com/watchos/watchos-preview/">watchOS 11 Preview</a></li>
        <li><a href="https://www.apple.com/visionos/visionos-2-preview/">visionOS 2 Preview</a></li>
        <li><a href="https://www.apple.com/apple-intelligence/">Apple Intelligence Preview</a></li>
        
		<li><a href="https://www.hackingwithswift.com/articles/269/whats-new-in-swift-6">What's new in Swift 6.0?</a> Paul Hudson</li>
        <li><a href="https://swiftwithmajid.com/2024/06/10/what-is-new-in-swiftui-after-wwdc24/">What is new in SwiftUI after WWDC 24</a></li>
        <li><a href="https://512pixels.net/2024/06/wwdc24-the-os-bento-boxes/">WWDC24: The OS Bento Boxes</a></li>
        <li><a href="https://512pixels.net/2024/06/wwdc24-system-requirements-for-ios-18-ipados-18-and-macos-sequoia/">WWDC24: System Requirements for iOS 18, iPadOS 18, macOS Sequoia, Etc…</a></li>
        <li><a href="https://www.macstories.net/news/visionos-2-the-macstories-overview/">visionOS 2: The MacStories Overview</a></li>
        <li><a href="https://www.macstories.net/news/macos-sequoia-the-macstories-overview/">macOS Sequoia: The MacStories Overview</a></li>
        <li><a href="https://www.macstories.net/news/watchos-11-the-macstories-overview/">watchOS 11: The MacStories Overview</a></li>
        <li><a href="https://www.macstories.net/stories/ios-and-ipados-18-the-macstories-overview/">iOS and iPadOS 18: The MacStories Overview</a></li>
        <li><a href="https://www.macstories.net/news/apple-intelligence-the-macstories-overview/">Apple Intelligence: The MacStories Overview</a></li>
        <li><a href="https://www.macstories.net/news/a-look-at-code-completion-and-swift-assist-coming-in-xcode-16/">A Look at Code Completion and Swift Assist Coming in Xcode 16</a></li>
        <li><a href="https://mrmacintosh.com/macos-sequoia-full-installer-database-download-directly-from-apple/">macOS Sequoia Full Installer</a></li>
        <li><a href="https://nilcoalescing.com/blog/RespondingToModifierKeys/">Responding to keyboard modifiers on macOS in SwiftUI</a></li>
        <li><a href="https://www.avanderlee.com/swiftui/previewable-macro-usage-in-previews/">@Previewable: Dynamic SwiftUI Previews Made Easy</a></li>
        <li><a href="https://www.donnywals.com/building-a-stretchy-header-view-with-swiftui-on-ios-18/">Building a stretchy header view with SwiftUI on iOS 18</a></li>
        <li><a href="https://www.youtube.com/watch?app=desktop&v=3k7PP6TE1h4">What’s New in SwiftUI - Xcode 16 - iOS 18 - Kavsoft</a></li>
        <li><a href="https://www.youtube.com/watch?app=desktop&v=TfGSCc1GH2s">WWDC 2024 recap - Apple Intelligence and more - donny wals</a></li>
        <li><a href="https://www.youtube.com/watch?app=desktop&v=qkYoBNdcXBU">WWDC 2024 Recap: Is Apple Intelligence Legit? - Marques Brownlee</a></li>
        <li><a href="https://eclecticlight.co/2024/06/10/multitasking-parallel-processing-and-concurrency-in-swift/">Multitasking, parallel processing, and concurrency in Swift</a></li>
        </ul>
        
        <h3>Sessions</h3>
        <ul>
			<li><a href="https://developer.apple.com/videos/play/wwdc2024/111976/">18 things from WWDC24</a> <a href="">YouTube</a></li>
			<li><a href="https://developer.apple.com/videos/play/wwdc2024/10067/">Bring context to today’s weather</a> <a href="">YouTube</a></li>
			<li><a href="https://developer.apple.com/videos/play/wwdc2024/10068/">Bring your Live Activity to Apple Watch</a> <a href="">YouTube</a></li>
			<li><a href="https://developer.apple.com/videos/play/wwdc2024/10133/">Bring your app to Siri</a> <a href="">YouTube</a></li>
			<li><a href="https://developer.apple.com/videos/play/wwdc2024/10210/">Bring your app’s core features to users with App Intents</a> <a href="">YouTube</a></li>
			<li><a href="https://developer.apple.com/videos/play/wwdc2024/10159/">Bring your machine learning and AI models to Apple silicon</a> <a href="">YouTube</a></li>
			<li><a href="https://developer.apple.com/videos/play/wwdc2024/10166/">Build compelling spatial photo and video experiences</a> <a href="">YouTube</a></li>
			<li><a href="https://developer.apple.com/videos/play/wwdc2024/10102/">Compose interactive 3D content in Reality Composer Pro</a> <a href="">YouTube</a></li>
			<li><a href="https://developer.apple.com/videos/play/wwdc2024/10100/">Create enhanced spatial computing experiences with ARKit</a> <a href="">YouTube</a></li>
			<li><a href="https://developer.apple.com/videos/play/wwdc2024/10085/">Design advanced games for Apple platforms</a> <a href="">YouTube</a></li>
			<li><a href="https://developer.apple.com/videos/play/wwdc2024/10086/">Design great visionOS apps</a> <a href="">YouTube</a></li>
			<li><a href="https://developer.apple.com/videos/play/wwdc2024/10103/">Discover RealityKit APIs for iOS, macOS and visionOS</a> <a href="">YouTube</a></li>
			<li><a href="https://developer.apple.com/videos/play/wwdc2024/10147/">Elevate your tab and sidebar experience in iPadOS</a> <a href="">YouTube</a></li>
			<li><a href="https://developer.apple.com/videos/play/wwdc2024/10114/">Enhance ad experiences with HLS interstitials</a> <a href="">YouTube</a></li>
			<li><a href="https://developer.apple.com/videos/play/wwdc2024/111801/">Enhance your spatial computing app with RealityKit audio</a> <a href="">YouTube</a></li>
			<li><a href="https://developer.apple.com/videos/play/wwdc2024/10223/">Explore machine learning on Apple platforms</a> <a href="">YouTube</a></li>
			<li><a href="https://developer.apple.com/videos/play/wwdc2024/10116/">Explore multiview video playback in visionOS</a> <a href="">YouTube</a></li>
			<li><a href="https://developer.apple.com/videos/play/wwdc2024/10101/">Explore object tracking for visionOS</a> <a href="">YouTube</a></li>
			<li><a href="https://developer.apple.com/videos/play/wwdc2024/10139/">Introducing enterprise APIs for visionOS</a> <a href="">YouTube</a></li>
			<li><a href="https://developer.apple.com/videos/play/wwdc2024/10179/">Meet Swift Testing</a> <a href="">YouTube</a></li>
			<li><a href="https://developer.apple.com/videos/play/wwdc2024/10111/">Meet the next generation of CarPlay architecture</a> <a href="">YouTube</a></li>
			<li><a href="https://developer.apple.com/videos/play/wwdc2024/10169/">Migrate your app to Swift 6</a> <a href="">YouTube</a></li>
			<li><a href="https://developer.apple.com/videos/play/wwdc2024/10089/">Port advanced games to Apple platforms</a> <a href="">YouTube</a></li>
			<li><a href="https://developer.apple.com/videos/play/wwdc2024/10112/">Say hello to the next generation of CarPlay design system</a> <a href="">YouTube</a></li>
			<li><a href="https://developer.apple.com/videos/play/wwdc2024/10155/">Swift Charts: Vectorized and function plots</a> <a href="">YouTube</a></li>
			<li><a href="https://developer.apple.com/videos/play/wwdc2024/10150/">SwiftUI essentials</a> <a href="">YouTube</a></li>
			<li><a href="https://developer.apple.com/videos/play/wwdc2024/10124/">What’s new in AppKit</a> <a href="">YouTube</a></li>
			<li><a href="https://developer.apple.com/videos/play/wwdc2024/10061/">What’s new in StoreKit and In-App Purchase</a> <a href="">YouTube</a></li>
			<li><a href="https://developer.apple.com/videos/play/wwdc2024/10136/">What’s new in Swift</a> <a href="">YouTube</a></li>
			<li><a href="https://developer.apple.com/videos/play/wwdc2024/10137/">What’s new in SwiftData</a> <a href="">YouTube</a></li>
			<li><a href="https://developer.apple.com/videos/play/wwdc2024/10144/">What’s new in SwiftUI</a> <a href="">YouTube</a></li>
			<li><a href="https://developer.apple.com/videos/play/wwdc2024/10118/">What’s new in UIKit</a> <a href="">YouTube</a></li>
			<li><a href="https://developer.apple.com/videos/play/wwdc2024/10135/">What’s new in Xcode 16</a> <a href="">YouTube</a></li>
			<li><a href="https://developer.apple.com/videos/play/wwdc2024/10205/">What’s new in watchOS 11</a> <a href="">YouTube</a></li>
        </ul>
        
        <h3>Toots</h3>
        <iframe src="https://mastodon.social/@Pschiller/112592953051684896/embed" class="mastodon-embed" style="max-width: 100%; border: 0" width="400" allowfullscreen="allowfullscreen"></iframe><script src="https://mastodon.social/embed.js" async="async"></script>
        <iframe src="https://mastodon.social/@mactanaka/112593449292670733/embed" class="mastodon-embed" style="max-width: 100%; border: 0" width="400" allowfullscreen="allowfullscreen"></iframe><script src="https://mastodon.social/embed.js" async="async"></script>
        <iframe src="https://mastodon.social/@mactanaka/112593513997173343/embed" class="mastodon-embed" style="max-width: 100%; border: 0" width="400" allowfullscreen="allowfullscreen"></iframe><script src="https://mastodon.social/embed.js" async="async"></script>
        <iframe src="https://mastodon.social/@mactanaka/112593535784202944/embed" class="mastodon-embed" style="max-width: 100%; border: 0" width="400" allowfullscreen="allowfullscreen"></iframe><script src="https://mastodon.social/embed.js" async="async"></script>
        <iframe src="https://mastodon.social/@mactanaka/112593562907533314/embed" class="mastodon-embed" style="max-width: 100%; border: 0" width="400" allowfullscreen="allowfullscreen"></iframe><script src="https://mastodon.social/embed.js" async="async"></script>
        <iframe src="https://mastodon.social/@mactanaka/112593594021618838/embed" class="mastodon-embed" style="max-width: 100%; border: 0" width="400" allowfullscreen="allowfullscreen"></iframe><script src="https://mastodon.social/embed.js" async="async"></script>
        <iframe src="https://mastodon.social/@mactanaka/112593646160787517/embed" class="mastodon-embed" style="max-width: 100%; border: 0" width="400" allowfullscreen="allowfullscreen"></iframe><script src="https://mastodon.social/embed.js" async="async"></script>
        <iframe src="https://mastodon.social/@Cdespinosa/112593604295069880/embed" class="mastodon-embed" style="max-width: 100%; border: 0" width="400" allowfullscreen="allowfullscreen"></iframe><script src="https://mastodon.social/embed.js" async="async"></script>
        <iframe src="https://mastodon.social/@tolmasky/112593618054737936/embed" class="mastodon-embed" style="max-width: 100%; border: 0" width="400" allowfullscreen="allowfullscreen"></iframe><script src="https://mastodon.social/embed.js" async="async"></script>
        <iframe src="https://techhub.social/@anAppleEmployee/112593614958212472/embed" class="mastodon-embed" style="max-width: 100%; border: 0" width="400" allowfullscreen="allowfullscreen"></iframe><script src="https://techhub.social/embed.js" async="async"></script>
        <iframe src="https://mastodon.social/@gedeonm/112593673923566887/embed" class="mastodon-embed" style="max-width: 100%; border: 0" width="400" allowfullscreen="allowfullscreen"></iframe><script src="https://mastodon.social/embed.js" async="async"></script>
        <iframe src="https://mastodon.social/@shantara/112593699691277971/embed" class="mastodon-embed" style="max-width: 100%; border: 0" width="400" allowfullscreen="allowfullscreen"></iframe><script src="https://mastodon.social/embed.js" async="async"></script>
        <iframe src="https://mastodon.social/@jefframes/112593701526837713/embed" class="mastodon-embed" style="max-width: 100%; border: 0" width="400" allowfullscreen="allowfullscreen"></iframe><script src="https://mastodon.social/embed.js" async="async"></script>
        <iframe src="https://mastodon.social/@mactanaka/112593778140353121/embed" class="mastodon-embed" style="max-width: 100%; border: 0" width="400" allowfullscreen="allowfullscreen"></iframe><script src="https://mastodon.social/embed.js" async="async"></script>
        <iframe src="https://mastodon.social/@gedeonm/112593831042392193/embed" class="mastodon-embed" style="max-width: 100%; border: 0" width="400" allowfullscreen="allowfullscreen"></iframe><script src="https://mastodon.social/embed.js" async="async"></script>
        <iframe src="https://social.panic.com/@cabel/112593843152220844/embed" class="mastodon-embed" style="max-width: 100%; border: 0" width="400" allowfullscreen="allowfullscreen"></iframe><script src="https://social.panic.com/embed.js" async="async"></script>
        <iframe src="https://mastodon.social/@stroughtonsmith/112593862748433033/embed" class="mastodon-embed" style="max-width: 100%; border: 0" width="400" allowfullscreen="allowfullscreen"></iframe><script src="https://mastodon.social/embed.js" async="async"></script>
        <iframe src="https://mastodon.social/@stroughtonsmith/112593878035401586/embed" class="mastodon-embed" style="max-width: 100%; border: 0" width="400" allowfullscreen="allowfullscreen"></iframe><script src="https://mastodon.social/embed.js" async="async"></script>
        <iframe src="https://mastodon.social/@mvo/112593730701166510/embed" class="mastodon-embed" style="max-width: 100%; border: 0" width="400" allowfullscreen="allowfullscreen"></iframe><script src="https://mastodon.social/embed.js" async="async"></script>
        <iframe src="https://mastodon.social/@mactanaka/112593903000561537/embed" class="mastodon-embed" style="max-width: 100%; border: 0" width="400" allowfullscreen="allowfullscreen"></iframe><script src="https://mastodon.social/embed.js" async="async"></script>
        <iframe src="https://mastodon.social/@_inside/112593905752182808/embed" class="mastodon-embed" style="max-width: 100%; border: 0" width="400" allowfullscreen="allowfullscreen"></iframe><script src="https://mastodon.social/embed.js" async="async"></script>
        <iframe src="https://mastodon.social/@danielpunkass/112593970252285229/embed" class="mastodon-embed" style="max-width: 100%; border: 0" width="400" allowfullscreen="allowfullscreen"></iframe><script src="https://mastodon.social/embed.js" async="async"></script>
        <iframe src="https://mastodon.social/@dlx/112594024858152381/embed" class="mastodon-embed" style="max-width: 100%; border: 0" width="400" allowfullscreen="allowfullscreen"></iframe><script src="https://mastodon.social/embed.js" async="async"></script>
        <iframe src="https://mastodon.social/@ryanlintott/112594040435290492/embed" class="mastodon-embed" style="max-width: 100%; border: 0" width="400" allowfullscreen="allowfullscreen"></iframe><script src="https://mastodon.social/embed.js" async="async"></script>
        <iframe src="https://techhub.social/@xcodereleases/112594087952321801/embed" class="mastodon-embed" style="max-width: 100%; border: 0" width="400" allowfullscreen="allowfullscreen"></iframe><script src="https://techhub.social/embed.js" async="async"></script>
        <iframe src="https://hachyderm.io/@samhenrigold/112593976360975672/embed" class="mastodon-embed" style="max-width: 100%; border: 0" width="400" allowfullscreen="allowfullscreen"></iframe><script src="https://hachyderm.io/embed.js" async="async"></script>
        <iframe src="https://mastodon.social/@twostraws/112594128759602208/embed" class="mastodon-embed" style="max-width: 100%; border: 0" width="400" allowfullscreen="allowfullscreen"></iframe><script src="https://mastodon.social/embed.js" async="async"></script>
        <iframe src="https://mastodon.social/@elektrojunge/112594049038554263/embed" class="mastodon-embed" style="max-width: 100%; border: 0" width="400" allowfullscreen="allowfullscreen"></iframe><script src="https://mastodon.social/embed.js" async="async"></script>
        <iframe src="https://mastodon.social/@Mecid/112594150118120077/embed" class="mastodon-embed" style="max-width: 100%; border: 0" width="400" allowfullscreen="allowfullscreen"></iframe><script src="https://mastodon.social/embed.js" async="async"></script>
        <iframe src="https://mastodon.social/@stern/112594173067059363/embed" class="mastodon-embed" style="max-width: 100%; border: 0" width="400" allowfullscreen="allowfullscreen"></iframe><script src="https://mastodon.social/embed.js" async="async"></script>
        <iframe src="https://mastodon.social/@marcel/112594176758433067/embed" class="mastodon-embed" style="max-width: 100%; border: 0" width="400" allowfullscreen="allowfullscreen"></iframe><script src="https://mastodon.social/embed.js" async="async"></script>
        <iframe src="https://fedi.simonwillison.net/@simon/112594192280211716/embed" class="mastodon-embed" style="max-width: 100%; border: 0" width="400" allowfullscreen="allowfullscreen"></iframe><script src="https://fedi.simonwillison.net/embed.js" async="async"></script>
        <iframe src="https://front-end.social/@jensimmons/112594149808315455/embed" class="mastodon-embed" style="max-width: 100%; border: 0" width="400" allowfullscreen="allowfullscreen"></iframe><script src="https://front-end.social/embed.js" async="async"></script>
        <iframe src="https://mastodon.social/@Mecid/112594205988288169/embed" class="mastodon-embed" style="max-width: 100%; border: 0" width="400" allowfullscreen="allowfullscreen"></iframe><script src="https://mastodon.social/embed.js" async="async"></script>
        <iframe src="https://mastodon.social/@airspeedswift/112594233340269442/embed" class="mastodon-embed" style="max-width: 100%; border: 0" width="400" allowfullscreen="allowfullscreen"></iframe><script src="https://mastodon.social/embed.js" async="async"></script>
        <iframe src="https://mastodon.social/@airspeedswift/112594253312723844/embed" class="mastodon-embed" style="max-width: 100%; border: 0" width="400" allowfullscreen="allowfullscreen"></iframe><script src="https://mastodon.social/embed.js" async="async"></script>
        <iframe src="https://mastodon.social/@stroughtonsmith/112594254022308963/embed" class="mastodon-embed" style="max-width: 100%; border: 0" width="400" allowfullscreen="allowfullscreen"></iframe><script src="https://mastodon.social/embed.js" async="async"></script>
        <iframe src="https://mastodon.social/@simonbs/112594260931025607/embed" class="mastodon-embed" style="max-width: 100%; border: 0" width="400" allowfullscreen="allowfullscreen"></iframe><script src="https://mastodon.social/embed.js" async="async"></script>
        <iframe src="https://mastodon.social/@marioguzman/112594326846035573/embed" class="mastodon-embed" style="max-width: 100%; border: 0" width="400" allowfullscreen="allowfullscreen"></iframe><script src="https://mastodon.social/embed.js" async="async"></script>
        <iframe src="https://mastodon.social/@marioguzman/112594333841470062/embed" class="mastodon-embed" style="max-width: 100%; border: 0" width="400" allowfullscreen="allowfullscreen"></iframe><script src="https://mastodon.social/embed.js" async="async"></script>
        <iframe src="https://mastodon.social/@finnvoorhees/112594317824082204/embed" class="mastodon-embed" style="max-width: 100%; border: 0" width="400" allowfullscreen="allowfullscreen"></iframe><script src="https://mastodon.social/embed.js" async="async"></script>
        <iframe src="https://mastodon.social/@airspeedswift/112594363001504073/embed" class="mastodon-embed" style="max-width: 100%; border: 0" width="400" allowfullscreen="allowfullscreen"></iframe><script src="https://mastodon.social/embed.js" async="async"></script>
        <iframe src="https://mastodon.social/@dlx/112594364269853895/embed" class="mastodon-embed" style="max-width: 100%; border: 0" width="400" allowfullscreen="allowfullscreen"></iframe><script src="https://mastodon.social/embed.js" async="async"></script>
        <iframe src="https://iosdev.space/@feli/112593821284199119/embed" class="mastodon-embed" style="max-width: 100%; border: 0" width="400" allowfullscreen="allowfullscreen"></iframe><script src="https://iosdev.space/embed.js" async="async"></script>
        <iframe src="https://mastodon.social/@stern/112594411782749077/embed" class="mastodon-embed" style="max-width: 100%; border: 0" width="400" allowfullscreen="allowfullscreen"></iframe><script src="https://mastodon.social/embed.js" async="async"></script>
        <iframe src="https://mastodon.social/@stern/112594425047249894/embed" class="mastodon-embed" style="max-width: 100%; border: 0" width="400" allowfullscreen="allowfullscreen"></iframe><script src="https://mastodon.social/embed.js" async="async"></script>
        <iframe src="https://mastodon.social/@stern/112594436003961916/embed" class="mastodon-embed" style="max-width: 100%; border: 0" width="400" allowfullscreen="allowfullscreen"></iframe><script src="https://mastodon.social/embed.js" async="async"></script>
        <iframe src="https://social.panic.com/@cabel/112594470592842095/embed" class="mastodon-embed" style="max-width: 100%; border: 0" width="400" allowfullscreen="allowfullscreen"></iframe><script src="https://social.panic.com/embed.js" async="async"></script>
        <iframe src="https://mastodon.social/@calicoding/112594518335398199/embed" class="mastodon-embed" style="max-width: 100%; border: 0" width="400" allowfullscreen="allowfullscreen"></iframe><script src="https://mastodon.social/embed.js" async="async"></script>
        <iframe src="https://mastodon.social/@schwa/112594537597087312/embed" class="mastodon-embed" style="max-width: 100%; border: 0" width="400" allowfullscreen="allowfullscreen"></iframe><script src="https://mastodon.social/embed.js" async="async"></script>
        <iframe src="https://mastodon.xyz/@bens/112594610465717218/embed" class="mastodon-embed" style="max-width: 100%; border: 0" width="400" allowfullscreen="allowfullscreen"></iframe><script src="https://mastodon.xyz/embed.js" async="async"></script>
        <iframe src="https://mastodon.social/@Bas/112594583194211562/embed" class="mastodon-embed" style="max-width: 100%; border: 0" width="400" allowfullscreen="allowfullscreen"></iframe><script src="https://mastodon.social/embed.js" async="async"></script>
        <iframe src="https://mastodon.social/@stroughtonsmith/112594639473546088/embed" class="mastodon-embed" style="max-width: 100%; border: 0" width="400" allowfullscreen="allowfullscreen"></iframe><script src="https://mastodon.social/embed.js" async="async"></script>
        <iframe src="https://sfba.social/@juanarzola/112594671083619338/embed" class="mastodon-embed" style="max-width: 100%; border: 0" width="400" allowfullscreen="allowfullscreen"></iframe><script src="https://sfba.social/embed.js" async="async"></script>
        <iframe src="https://mastodon.social/@stroughtonsmith/112594678558794510/embed" class="mastodon-embed" style="max-width: 100%; border: 0" width="400" allowfullscreen="allowfullscreen"></iframe><script src="https://mastodon.social/embed.js" async="async"></script>
        <iframe src="https://mastodon.social/@stroughtonsmith/112594684036403887/embed" class="mastodon-embed" style="max-width: 100%; border: 0" width="400" allowfullscreen="allowfullscreen"></iframe><script src="https://mastodon.social/embed.js" async="async"></script>
        <iframe src="https://mastodon.social/@deanatoire/112594688127592802/embed" class="mastodon-embed" style="max-width: 100%; border: 0" width="400" allowfullscreen="allowfullscreen"></iframe><script src="https://mastodon.social/embed.js" async="async"></script>
        <iframe src="https://mastodon.social/@Mecid/112594712511969855/embed" class="mastodon-embed" style="max-width: 100%; border: 0" width="400" allowfullscreen="allowfullscreen"></iframe><script src="https://mastodon.social/embed.js" async="async"></script>
        <iframe src="https://mstdn.social/@davidbures/112594774020495622/embed" class="mastodon-embed" style="max-width: 100%; border: 0" width="400" allowfullscreen="allowfullscreen"></iframe><script src="https://mstdn.social/embed.js" async="async"></script>
        <iframe src="https://mastodon.social/@jsq/112594824977022707/embed" class="mastodon-embed" style="max-width: 100%; border: 0" width="400" allowfullscreen="allowfullscreen"></iframe><script src="https://mastodon.social/embed.js" async="async"></script>
        <iframe src="https://isfeeling.social/@matt/112595000968771253/embed" class="mastodon-embed" style="max-width: 100%; border: 0" width="400" allowfullscreen="allowfullscreen"></iframe><script src="https://isfeeling.social/embed.js" async="async"></script>
        <iframe src="https://mastodon.social/@Bas/112594891735032917/embed" class="mastodon-embed" style="max-width: 100%; border: 0" width="400" allowfullscreen="allowfullscreen"></iframe><script src="https://mastodon.social/embed.js" async="async"></script>
        <iframe src="https://mastodon.social/@akashivskyy/112595046501259405/embed" class="mastodon-embed" style="max-width: 100%; border: 0" width="400" allowfullscreen="allowfullscreen"></iframe><script src="https://mastodon.social/embed.js" async="async"></script>
        <iframe src="https://mastodon.social/@michaelsteeber/112595111377112622/embed" class="mastodon-embed" style="max-width: 100%; border: 0" width="400" allowfullscreen="allowfullscreen"></iframe><script src="https://mastodon.social/embed.js" async="async"></script>
        <iframe src="https://mastodon.well.com/@ianb/112593983732733332/embed" class="mastodon-embed" style="max-width: 100%; border: 0" width="400" allowfullscreen="allowfullscreen"></iframe><script src="https://mastodon.well.com/embed.js" async="async"></script>
        <iframe src="https://iosdev.space/@Jeehut/112595209741023147/embed" class="mastodon-embed" style="max-width: 100%; border: 0" width="400" allowfullscreen="allowfullscreen"></iframe><script src="https://iosdev.space/embed.js" async="async"></script>
        <iframe src="https://iosdev.space/@Jeehut/112595230835976244/embed" class="mastodon-embed" style="max-width: 100%; border: 0" width="400" allowfullscreen="allowfullscreen"></iframe><script src="https://iosdev.space/embed.js" async="async"></script>
        <iframe src="https://mastodon.social/@phausler/112595173657946895/embed" class="mastodon-embed" style="max-width: 100%; border: 0" width="400" allowfullscreen="allowfullscreen"></iframe><script src="https://mastodon.social/embed.js" async="async"></script>
        <iframe src="https://mastodon.social/@schwa/112595254018795974/embed" class="mastodon-embed" style="max-width: 100%; border: 0" width="400" allowfullscreen="allowfullscreen"></iframe><script src="https://mastodon.social/embed.js" async="async"></script>
        <iframe src="https://social.lol/@robb/112596344566468201/embed" class="mastodon-embed" style="max-width: 100%; border: 0" width="400" allowfullscreen="allowfullscreen"></iframe><script src="https://social.lol/embed.js" async="async"></script>
        <iframe src="https://mastodon.social/@gluebyte/112596468125927030/embed" class="mastodon-embed" style="max-width: 100%; border: 0" width="400" allowfullscreen="allowfullscreen"></iframe><script src="https://mastodon.social/embed.js" async="async"></script>
        <iframe src="https://mstdn.social/@mike_k/112596663160918001/embed" class="mastodon-embed" style="max-width: 100%; border: 0" width="400" allowfullscreen="allowfullscreen"></iframe><script src="https://mstdn.social/embed.js" async="async"></script>
        <iframe src="https://mastodon.social/@simonbs/112596841417728069/embed" class="mastodon-embed" style="max-width: 100%; border: 0" width="400" allowfullscreen="allowfullscreen"></iframe><script src="https://mastodon.social/embed.js" async="async"></script>
        <iframe src="https://iosdev.space/@alpennec/112596930470033137/embed" class="mastodon-embed" style="max-width: 100%; border: 0" width="400" allowfullscreen="allowfullscreen"></iframe><script src="https://iosdev.space/embed.js" async="async"></script>
        <iframe src="https://iosdev.space/@alpennec/112597025091521258/embed" class="mastodon-embed" style="max-width: 100%; border: 0" width="400" allowfullscreen="allowfullscreen"></iframe><script src="https://iosdev.space/embed.js" async="async"></script>
        <iframe src="https://mastodon.social/@mysk/112597073658784905/embed" class="mastodon-embed" style="max-width: 100%; border: 0" width="400" allowfullscreen="allowfullscreen"></iframe><script src="https://mastodon.social/embed.js" async="async"></script>
        <iframe src="https://chaos.social/@donnywals/112597344985751402/embed" class="mastodon-embed" style="max-width: 100%; border: 0" width="400" allowfullscreen="allowfullscreen"></iframe><script src="https://chaos.social/embed.js" async="async"></script>
        <iframe src="https://mastodon.social/@oskargroth/112597564704682794/embed" class="mastodon-embed" style="max-width: 100%; border: 0" width="400" allowfullscreen="allowfullscreen"></iframe><script src="https://mastodon.social/embed.js" async="async"></script>
        <iframe src="https://hachyderm.io/@mikeymikey/112595540571229968/embed" class="mastodon-embed" style="max-width: 100%; border: 0" width="400" allowfullscreen="allowfullscreen"></iframe><script src="https://hachyderm.io/embed.js" async="async"></script>
        <iframe src="https://isfeeling.social/@matt/112598007058316199/embed" class="mastodon-embed" style="max-width: 100%; border: 0" width="400" allowfullscreen="allowfullscreen"></iframe><script src="https://isfeeling.social/embed.js" async="async"></script>
        <iframe src="https://mastodon.social/@alexito4/112598086704840616/embed" class="mastodon-embed" style="max-width: 100%; border: 0" width="400" allowfullscreen="allowfullscreen"></iframe><script src="https://mastodon.social/embed.js" async="async"></script>
        <iframe src="https://chaos.social/@donnywals/112598167470635057/embed" class="mastodon-embed" style="max-width: 100%; border: 0" width="400" allowfullscreen="allowfullscreen"></iframe><script src="https://chaos.social/embed.js" async="async"></script>
        <iframe src="https://mastodon.social/@mactanaka/112598172745871700/embed" class="mastodon-embed" style="max-width: 100%; border: 0" width="400" allowfullscreen="allowfullscreen"></iframe><script src="https://mastodon.social/embed.js" async="async"></script>
        <iframe src="https://mastodon.social/@mactanaka/112598184966792981/embed" class="mastodon-embed" style="max-width: 100%; border: 0" width="400" allowfullscreen="allowfullscreen"></iframe><script src="https://mastodon.social/embed.js" async="async"></script>
        <iframe src="https://mastodon.social/@mactanaka/112598255983082198/embed" class="mastodon-embed" style="max-width: 100%; border: 0" width="400" allowfullscreen="allowfullscreen"></iframe><script src="https://mastodon.social/embed.js" async="async"></script>
        <iframe src="https://mastodon.social/@songadaymann/112595166710295691/embed" class="mastodon-embed" style="max-width: 100%; border: 0" width="400" allowfullscreen="allowfullscreen"></iframe><script src="https://mastodon.social/embed.js" async="async"></script>
        <iframe src="https://mastodon.social/@BasicAppleGuy/112598529025763436/embed" class="mastodon-embed" style="max-width: 100%; border: 0" width="400" allowfullscreen="allowfullscreen"></iframe><script src="https://mastodon.social/embed.js" async="async"></script>
        <iframe src="https://iosdev.space/@feli/112598924662926808/embed" class="mastodon-embed" style="max-width: 100%; border: 0" width="400" allowfullscreen="allowfullscreen"></iframe><script src="https://iosdev.space/embed.js" async="async"></script>
        
    <h2>Day Two</h2>
    
    <a href="https://developer.apple.com/news/?id=3dhu16d6">Today @ WWDC24: Day 1</a>
    
    <h3>Articles</h3>
    <ul>
        <li><a href="https://nilcoalescing.com/blog/FormSheetInSwiftUI/">Present a form sheet in SwiftUI - nilcoalescing.com</a></li>
        
        <li><a href="https://birchtree.me/blog/my-not-so-brief-thoughts-on-wwdc-2024-24-hours-later/">My (not so) brief thoughts on WWDC 2024, 24 hours later - Birchtree</a></li>
        <li><a href="https://www.washingtonpost.com/opinions/2024/06/11/tim-cook-apple-interview/">Opinion How will Apple’s new AI change your phone? I asked Tim Cook.</a></li>
        <li><a href="https://www.macstories.net/news/tvos-18-the-macstories-overview/">tvOS 18: The MacStories Overview</a></li>
    </ul>
    
    <h3>Toots</h3>
    <iframe src="https://mastodon.social/@stroughtonsmith/112599093085527219/embed" class="mastodon-embed" style="max-width: 100%; border: 0" width="400" allowfullscreen="allowfullscreen"></iframe><script src="https://mastodon.social/embed.js" async="async"></script>
    <iframe src="https://mastodon.social/@stroughtonsmith/112599108902434534/embed" class="mastodon-embed" style="max-width: 100%; border: 0" width="400" allowfullscreen="allowfullscreen"></iframe><script src="https://mastodon.social/embed.js" async="async"></script>
    <iframe src="https://iosdev.space/@alpennec/112599203332603483/embed" class="mastodon-embed" style="max-width: 100%; border: 0" width="400" allowfullscreen="allowfullscreen"></iframe><script src="https://iosdev.space/embed.js" async="async"></script>
    <iframe src="https://sfba.social/@dgregor79/112598783634001277/embed" class="mastodon-embed" style="max-width: 100%; border: 0" width="400" allowfullscreen="allowfullscreen"></iframe><script src="https://sfba.social/embed.js" async="async"></script>
    <iframe src="https://hachyderm.io/@mikeymikey/112599907059165440/embed" class="mastodon-embed" style="max-width: 100%; border: 0" width="400" allowfullscreen="allowfullscreen"></iframe><script src="https://hachyderm.io/embed.js" async="async"></script>
    <iframe src="https://mastodon.social/@dlx/112600081217360675/embed" class="mastodon-embed" style="max-width: 100%; border: 0" width="400" allowfullscreen="allowfullscreen"></iframe><script src="https://mastodon.social/embed.js" async="async"></script>
    <iframe src="https://mastodon.social/@dlx/112600082638762708/embed" class="mastodon-embed" style="max-width: 100%; border: 0" width="400" allowfullscreen="allowfullscreen"></iframe><script src="https://mastodon.social/embed.js" async="async"></script>
    <iframe src="https://mastodon.social/@realmacdan/112600252900699964/embed" class="mastodon-embed" style="max-width: 100%; border: 0" width="400" allowfullscreen="allowfullscreen"></iframe><script src="https://mastodon.social/embed.js" async="async"></script>
    <iframe src="https://mastodon.online/@eliperkins/112600074211852050/embed" class="mastodon-embed" style="max-width: 100%; border: 0" width="400" allowfullscreen="allowfullscreen"></iframe><script src="https://mastodon.online/embed.js" async="async"></script>
    <iframe src="https://mastodon.social/@stroughtonsmith/112600354237526711/embed" class="mastodon-embed" style="max-width: 100%; border: 0" width="400" allowfullscreen="allowfullscreen"></iframe><script src="https://mastodon.social/embed.js" async="async"></script>
    <iframe src="https://mastodon.social/@valv0/112600354805280402/embed" class="mastodon-embed" style="max-width: 100%; border: 0" width="400" allowfullscreen="allowfullscreen"></iframe><script src="https://mastodon.social/embed.js" async="async"></script>
    <iframe src="https://hachyderm.io/@livbem/112600243175745641/embed" class="mastodon-embed" style="max-width: 100%; border: 0" width="400" allowfullscreen="allowfullscreen"></iframe><script src="https://hachyderm.io/embed.js" async="async"></script>
    <iframe src="https://mastodon.social/@stroughtonsmith/112600512888682651/embed" class="mastodon-embed" style="max-width: 100%; border: 0" width="400" allowfullscreen="allowfullscreen"></iframe><script src="https://mastodon.social/embed.js" async="async"></script>
    <iframe src="https://mastodon.social/@schwa/112600754401830034/embed" class="mastodon-embed" style="max-width: 100%; border: 0" width="400" allowfullscreen="allowfullscreen"></iframe><script src="https://mastodon.social/embed.js" async="async"></script>
    <iframe src="https://mastodon.social/@schwa/112600769045348475/embed" class="mastodon-embed" style="max-width: 100%; border: 0" width="400" allowfullscreen="allowfullscreen"></iframe><script src="https://mastodon.social/embed.js" async="async"></script>
    <iframe src="https://mastodon.social/@schwa/112601938283358303/embed" class="mastodon-embed" style="max-width: 100%; border: 0" width="400" allowfullscreen="allowfullscreen"></iframe><script src="https://mastodon.social/embed.js" async="async"></script>
    <iframe src="https://mastodon.social/@schwa/112601955283558874/embed" class="mastodon-embed" style="max-width: 100%; border: 0" width="400" allowfullscreen="allowfullscreen"></iframe><script src="https://mastodon.social/embed.js" async="async"></script>
    <iframe src="https://mastodon.social/@schwa/112601955283558874/embed" class="mastodon-embed" style="max-width: 100%; border: 0" width="400" allowfullscreen="allowfullscreen"></iframe><script src="https://mastodon.social/embed.js" async="async"></script>
    <iframe src="https://mastodon.social/@schwa/112601966993928137/embed" class="mastodon-embed" style="max-width: 100%; border: 0" width="400" allowfullscreen="allowfullscreen"></iframe><script src="https://mastodon.social/embed.js" async="async"></script>
    <iframe src="https://mastodon.social/@schwa/112602172989654156/embed" class="mastodon-embed" style="max-width: 100%; border: 0" width="400" allowfullscreen="allowfullscreen"></iframe><script src="https://mastodon.social/embed.js" async="async"></script>
    <iframe src="https://mastodon.social/@schwa/112602199334699022/embed" class="mastodon-embed" style="max-width: 100%; border: 0" width="400" allowfullscreen="allowfullscreen"></iframe><script src="https://mastodon.social/embed.js" async="async"></script>
    <iframe src="https://mastodon.social/@cocoaphony/112600508590685420/embed" class="mastodon-embed" style="max-width: 100%; border: 0" width="400" allowfullscreen="allowfullscreen"></iframe><script src="https://mastodon.social/embed.js" async="async"></script>
    <iframe src="https://mastodon.social/@tuomas_h/112602457954573850/embed" class="mastodon-embed" style="max-width: 100%; border: 0" width="400" allowfullscreen="allowfullscreen"></iframe><script src="https://mastodon.social/embed.js" async="async"></script>
    <iframe src="https://iosdev.space/@alpennec/112602803427834011/embed" class="mastodon-embed" style="max-width: 100%; border: 0" width="400" allowfullscreen="allowfullscreen"></iframe><script src="https://iosdev.space/embed.js" async="async"></script>
    <iframe src="https://mastodon.social/@mattiem/112603963662506448/embed" class="mastodon-embed" style="max-width: 100%; border: 0" width="400" allowfullscreen="allowfullscreen"></iframe><script src="https://mastodon.social/embed.js" async="async"></script>
    <iframe src="https://mastodon.social/@schwa/112604349023916632/embed" class="mastodon-embed" style="max-width: 100%; border: 0" width="400" allowfullscreen="allowfullscreen"></iframe><script src="https://mastodon.social/embed.js" async="async"></script>
    <iframe src="https://mastodon.social/@airspeedswift/112604390032649761/embed" class="mastodon-embed" style="max-width: 100%; border: 0" width="400" allowfullscreen="allowfullscreen"></iframe><script src="https://mastodon.social/embed.js" async="async"></script>
    <iframe src="https://chaos.social/@kikeenrique/112603527295284171/embed" class="mastodon-embed" style="max-width: 100%; border: 0" width="400" allowfullscreen="allowfullscreen"></iframe><script src="https://chaos.social/embed.js" async="async"></script>
    <iframe src="https://mastodon.social/@mattiem/112604460162102579/embed" class="mastodon-embed" style="max-width: 100%; border: 0" width="400" allowfullscreen="allowfullscreen"></iframe><script src="https://mastodon.social/embed.js" async="async"></script>
    <iframe src="https://mastodon.social/@stroughtonsmith/112604484701498784/embed" class="mastodon-embed" style="max-width: 100%; border: 0" width="400" allowfullscreen="allowfullscreen"></iframe><script src="https://mastodon.social/embed.js" async="async"></script>
    <iframe src="https://mastodon.social/@schwa/112604349023916632/embed" class="mastodon-embed" style="max-width: 100%; border: 0" width="400" allowfullscreen="allowfullscreen"></iframe><script src="https://mastodon.social/embed.js" async="async"></script>
    <iframe src="https://mastodon.social/@kepano/112604547444096661/embed" class="mastodon-embed" style="max-width: 100%; border: 0" width="400" allowfullscreen="allowfullscreen"></iframe><script src="https://mastodon.social/embed.js" async="async"></script>
    <iframe src="https://mastodon.social/@stroughtonsmith/112604641923380022/embed" class="mastodon-embed" style="max-width: 100%; border: 0" width="400" allowfullscreen="allowfullscreen"></iframe><script src="https://mastodon.social/embed.js" async="async"></script>
    <iframe src="https://mastodon.social/@atpfm/112604659575993309/embed" class="mastodon-embed" style="max-width: 100%; border: 0" width="400" allowfullscreen="allowfullscreen"></iframe><script src="https://mastodon.social/embed.js" async="async"></script>
    <iframe src="https://mastodon.social/@stroughtonsmith/112605138944564778/embed" class="mastodon-embed" style="max-width: 100%; border: 0" width="400" allowfullscreen="allowfullscreen"></iframe><script src="https://mastodon.social/embed.js" async="async"></script>
    <iframe src="https://mastodon.social/@stroughtonsmith/112605143028809734/embed" class="mastodon-embed" style="max-width: 100%; border: 0" width="400" allowfullscreen="allowfullscreen"></iframe><script src="https://mastodon.social/embed.js" async="async"></script>
    <iframe src="https://mastodon.social/@schwa/112605176023477028/embed" class="mastodon-embed" style="max-width: 100%; border: 0" width="400" allowfullscreen="allowfullscreen"></iframe><script src="https://mastodon.social/embed.js" async="async"></script>
    <iframe src="https://iosdev.space/@polpielladev/112605189708809834/embed" class="mastodon-embed" style="max-width: 100%; border: 0" width="400" allowfullscreen="allowfullscreen"></iframe><script src="https://iosdev.space/embed.js" async="async"></script>
    <iframe src="https://iosdev.space/@alpennec/112605326994891903/embed" class="mastodon-embed" style="max-width: 100%; border: 0" width="400" allowfullscreen="allowfullscreen"></iframe><script src="https://iosdev.space/embed.js" async="async"></script>
    <iframe src="https://mastodon.social/@_inside/112605465548894390/embed" class="mastodon-embed" style="max-width: 100%; border: 0" width="400" allowfullscreen="allowfullscreen"></iframe><script src="https://mastodon.social/embed.js" async="async"></script>
    <iframe src="https://mastodon.social/@schwa/112606220918585212/embed" class="mastodon-embed" style="max-width: 100%; border: 0" width="400" allowfullscreen="allowfullscreen"></iframe><script src="https://mastodon.social/embed.js" async="async"></script>
    
    <h2>Day Three</h2>
    
    <h3>Toots</h3>
    <iframe src="https://mastodon.macstories.net/@viticci/112606317077490324/embed" class="mastodon-embed" style="max-width: 100%; border: 0" width="400" allowfullscreen="allowfullscreen"></iframe><script src="https://mastodon.macstories.net/embed.js" async="async"></script>
    <iframe src="https://mastodon.online/@dale_price/112606731625727887/embed" class="mastodon-embed" style="max-width: 100%; border: 0" width="400" allowfullscreen="allowfullscreen"></iframe><script src="https://mastodon.online/embed.js" async="async"></script>
    <iframe src="https://mastodon.social/@zachsimone/112607541492009831/embed" class="mastodon-embed" style="max-width: 100%; border: 0" width="400" allowfullscreen="allowfullscreen"></iframe><script src="https://mastodon.social/embed.js" async="async"></script>
    <iframe src="https://mastodon.social/@iKyle/112607672392333097/embed" class="mastodon-embed" style="max-width: 100%; border: 0" width="400" allowfullscreen="allowfullscreen"></iframe><script src="https://mastodon.social/embed.js" async="async"></script>
    <iframe src="https://mastodon.social/@krzyzanowskim/112608312962897220/embed" class="mastodon-embed" style="max-width: 100%; border: 0" width="400" allowfullscreen="allowfullscreen"></iframe><script src="https://mastodon.social/embed.js" async="async"></script>
    <iframe src="https://mastodon.social/@Mecid/112608635004020982/embed" class="mastodon-embed" style="max-width: 100%; border: 0" width="400" allowfullscreen="allowfullscreen"></iframe><script src="https://mastodon.social/embed.js" async="async"></script>
    <iframe src="https://mastodon.social/@helge/112608668773257318/embed" class="mastodon-embed" style="max-width: 100%; border: 0" width="400" allowfullscreen="allowfullscreen"></iframe><script src="https://mastodon.social/embed.js" async="async"></script>
    <iframe src="https://iosdev.space/@mkj/112609300015596843/embed" class="mastodon-embed" style="max-width: 100%; border: 0" width="400" allowfullscreen="allowfullscreen"></iframe><script src="https://iosdev.space/embed.js" async="async"></script>
    <iframe src="https://mastodon.social/@oskargroth/112609454068814723/embed" class="mastodon-embed" style="max-width: 100%; border: 0" width="400" allowfullscreen="allowfullscreen"></iframe><script src="https://mastodon.social/embed.js" async="async"></script>
    <iframe src="https://mastodon.social/@siracusa/112609224275913375/embed" class="mastodon-embed" style="max-width: 100%; border: 0" width="400" allowfullscreen="allowfullscreen"></iframe><script src="https://mastodon.social/embed.js" async="async"></script>
    <iframe src="https://mastodon.social/@marioguzman/112610025658431233/embed" class="mastodon-embed" style="max-width: 100%; border: 0" width="400" allowfullscreen="allowfullscreen"></iframe><script src="https://mastodon.social/embed.js" async="async"></script>
    <iframe src="https://mastodon.social/@krzyzanowskim/112610253535924121/embed" class="mastodon-embed" style="max-width: 100%; border: 0" width="400" allowfullscreen="allowfullscreen"></iframe><script src="https://mastodon.social/embed.js" async="async"></script>
    <iframe src="https://mastodon.social/@agiletortoise/112610150614865605/embed" class="mastodon-embed" style="max-width: 100%; border: 0" width="400" allowfullscreen="allowfullscreen"></iframe><script src="https://mastodon.social/embed.js" async="async"></script>
    <iframe src="https://iosdev.space/@evankstone/112610306914220845/embed" class="mastodon-embed" style="max-width: 100%; border: 0" width="400" allowfullscreen="allowfullscreen"></iframe><script src="https://iosdev.space/embed.js" async="async"></script>
    <iframe src="https://mastodon.social/@airspeedswift/112610591698047370/embed" class="mastodon-embed" style="max-width: 100%; border: 0" width="400" allowfullscreen="allowfullscreen"></iframe><script src="https://mastodon.social/embed.js" async="async"></script>
    <iframe src="https://hachyderm.io/@rjmccall/112610472344271813/embed" class="mastodon-embed" style="max-width: 100%; border: 0" width="400" allowfullscreen="allowfullscreen"></iframe><script src="https://hachyderm.io/embed.js" async="async"></script>
    <iframe src="https://hachyderm.io/@marinaaisa/112610521894714082/embed" class="mastodon-embed" style="max-width: 100%; border: 0" width="400" allowfullscreen="allowfullscreen"></iframe><script src="https://hachyderm.io/embed.js" async="async"></script>
    <iframe src="https://mastodon.social/@finnvoorhees/112608374885197023/embed" class="mastodon-embed" style="max-width: 100%; border: 0" width="400" allowfullscreen="allowfullscreen"></iframe><script src="https://mastodon.social/embed.js" async="async"></script>
    <iframe src="https://mastodon.social/@stroughtonsmith/112611314548793012/embed" class="mastodon-embed" style="max-width: 100%; border: 0" width="400" allowfullscreen="allowfullscreen"></iframe><script src="https://mastodon.social/embed.js" async="async"></script>
    <iframe src="https://mastodon.social/@stroughtonsmith/112611340713017820/embed" class="mastodon-embed" style="max-width: 100%; border: 0" width="400" allowfullscreen="allowfullscreen"></iframe><script src="https://mastodon.social/embed.js" async="async"></script>
    <iframe src="https://mastodon.social/@nicoreese/112611380104970216/embed" class="mastodon-embed" style="max-width: 100%; border: 0" width="400" allowfullscreen="allowfullscreen"></iframe><script src="https://mastodon.social/embed.js" async="async"></script>
    <iframe src="https://mastodon.social/@stroughtonsmith/112611443384816909/embed" class="mastodon-embed" style="max-width: 100%; border: 0" width="400" allowfullscreen="allowfullscreen"></iframe><script src="https://mastodon.social/embed.js" async="async"></script>
    <iframe src="https://mastodon.social/@tomlokhorst/112611528531111232/embed" class="mastodon-embed" style="max-width: 100%; border: 0" width="400" allowfullscreen="allowfullscreen"></iframe><script src="https://mastodon.social/embed.js" async="async"></script>
    <iframe src="https://mastodon.social/@stroughtonsmith/112611905858160078/embed" class="mastodon-embed" style="max-width: 100%; border: 0" width="400" allowfullscreen="allowfullscreen"></iframe><script src="https://mastodon.social/embed.js" async="async"></script>
    <iframe src="https://hachyderm.io/@auramagi/112611906926575588/embed" class="mastodon-embed" style="max-width: 100%; border: 0" width="400" allowfullscreen="allowfullscreen"></iframe><script src="https://hachyderm.io/embed.js" async="async"></script>
    <iframe src="https://isfeeling.social/@matt/112612168049003129/embed" class="mastodon-embed" style="max-width: 100%; border: 0" width="400" allowfullscreen="allowfullscreen"></iframe><script src="https://isfeeling.social/embed.js" async="async"></script>
    <iframe src="https://mastodon.social/@ryanlintott/112612557838087653/embed" class="mastodon-embed" style="max-width: 100%; border: 0" width="400" allowfullscreen="allowfullscreen"></iframe><script src="https://mastodon.social/embed.js" async="async"></script>
    <iframe src="https://infosec.exchange/@jjtech/112612685494089718/embed" class="mastodon-embed" style="max-width: 100%; border: 0" width="400" allowfullscreen="allowfullscreen"></iframe><script src="https://assets.infosec.exchange/embed.js" async="async"></script>
    <iframe src="https://mastodon.social/@dlx/112612853550085968/embed" class="mastodon-embed" style="max-width: 100%; border: 0" width="400" allowfullscreen="allowfullscreen"></iframe><script src="https://mastodon.social/embed.js" async="async"></script>
    <iframe src="https://mastodon.social/@dlx/112612855704185114/embed" class="mastodon-embed" style="max-width: 100%; border: 0" width="400" allowfullscreen="allowfullscreen"></iframe><script src="https://mastodon.social/embed.js" async="async"></script>
    <iframe src="https://mastodon.social/@dlx/112612858971846335/embed" class="mastodon-embed" style="max-width: 100%; border: 0" width="400" allowfullscreen="allowfullscreen"></iframe><script src="https://mastodon.social/embed.js" async="async"></script>
    <iframe src="https://mastodon.social/@dlx/112612861205433023/embed" class="mastodon-embed" style="max-width: 100%; border: 0" width="400" allowfullscreen="allowfullscreen"></iframe><script src="https://mastodon.social/embed.js" async="async"></script>
    <iframe src="https://mastodon.social/@dlx/112612863795786678/embed" class="mastodon-embed" style="max-width: 100%; border: 0" width="400" allowfullscreen="allowfullscreen"></iframe><script src="https://mastodon.social/embed.js" async="async"></script>
    <iframe src="https://mastodon.social/@dlx/112612867010055471/embed" class="mastodon-embed" style="max-width: 100%; border: 0" width="400" allowfullscreen="allowfullscreen"></iframe><script src="https://mastodon.social/embed.js" async="async"></script>
    <a href="https://www.threads.net/@mergesort/post/C8K671ahY-8">You really appreciate how thorough the iOS SDK is when you start solving esoteric problems, like how to format an array of strings into a grammatically correct sentence, only to stumble upon ListFormatter.</a>
    <iframe src="https://mastodon.social/@dlx/112613377292347596/embed" class="mastodon-embed" style="max-width: 100%; border: 0" width="400" allowfullscreen="allowfullscreen"></iframe><script src="https://mastodon.social/embed.js" async="async"></script>
    <iframe src="https://mastodon.social/@lukaskubanek/112613591155769943/embed" class="mastodon-embed" style="max-width: 100%; border: 0" width="400" allowfullscreen="allowfullscreen"></iframe><script src="https://mastodon.social/embed.js" async="async"></script>
    <iframe src="https://mastodon.social/@Mecid/112614108839169396/embed" class="mastodon-embed" style="max-width: 100%; border: 0" width="400" allowfullscreen="allowfullscreen"></iframe><script src="https://mastodon.social/embed.js" async="async"></script>
    <iframe src="https://mastodon.social/@_inside/112614639535108647/embed" class="mastodon-embed" style="max-width: 100%; border: 0" width="400" allowfullscreen="allowfullscreen"></iframe><script src="https://mastodon.social/embed.js" async="async"></script>
    <iframe src="https://mastodon.world/@fireatwill/112614958587877708/embed" class="mastodon-embed" style="max-width: 100%; border: 0" width="400" allowfullscreen="allowfullscreen"></iframe><script src="https://mastodon.world/embed.js" async="async"></script>
    <iframe src="https://mastodon.social/@stroughtonsmith/112615343186090861/embed" class="mastodon-embed" style="max-width: 100%; border: 0" width="400" allowfullscreen="allowfullscreen"></iframe><script src="https://mastodon.social/embed.js" async="async"></script>
    <iframe src="https://mastodon.macstories.net/@viticci/112615284246361899/embed" class="mastodon-embed" style="max-width: 100%; border: 0" width="400" allowfullscreen="allowfullscreen"></iframe><script src="https://mastodon.macstories.net/embed.js" async="async"></script>
    
    <h2>Day Four</h2>
    
    <h3>Toots</h3>
    <iframe src="https://mastodon.social/@_inside/112617090042962658/embed" class="mastodon-embed" style="max-width: 100%; border: 0" width="400" allowfullscreen="allowfullscreen"></iframe><script src="https://mastodon.social/embed.js" async="async"></script>
    <iframe src="https://mastodon.social/@_inside/112622865251338296/embed" class="mastodon-embed" style="max-width: 100%; border: 0" width="400" allowfullscreen="allowfullscreen"></iframe><script src="https://mastodon.social/embed.js" async="async"></script>
    <iframe src="https://mastodon.social/@stroughtonsmith/112617136937679489/embed" class="mastodon-embed" style="max-width: 100%; border: 0" width="400" allowfullscreen="allowfullscreen"></iframe><script src="https://mastodon.social/embed.js" async="async"></script>
    <iframe src="https://mastodon.social/@rudrank/112617950226106641/embed" class="mastodon-embed" style="max-width: 100%; border: 0" width="400" allowfullscreen="allowfullscreen"></iframe><script src="https://mastodon.social/embed.js" async="async"></script>
    <iframe src="https://social.fouquet.me/@rene/112619661486268681/embed" class="mastodon-embed" style="max-width: 100%; border: 0" width="400" allowfullscreen="allowfullscreen"></iframe><script src="https://social.fouquet.me/embed.js" async="async"></script>
    <iframe src="https://mastodon.social/@gruber/112622118650427820/embed" class="mastodon-embed" style="max-width: 100%; border: 0" width="400" allowfullscreen="allowfullscreen"></iframe><script src="https://mastodon.social/embed.js" async="async"></script>
    <iframe src="https://chaos.social/@ole/112620782611792350/embed" class="mastodon-embed" style="max-width: 100%; border: 0" width="400" allowfullscreen="allowfullscreen"></iframe><script src="https://chaos.social/embed.js" async="async"></script>
    <iframe src="https://mastodon.social/@macrumors/112617601760176455/embed" class="mastodon-embed" style="max-width: 100%; border: 0" width="400" allowfullscreen="allowfullscreen"></iframe><script src="https://mastodon.social/embed.js" async="async"></script>
    <iframe src="https://mastodon.social/@nicoreese/112622369117057251/embed" class="mastodon-embed" style="max-width: 100%; border: 0" width="400" allowfullscreen="allowfullscreen"></iframe><script src="https://mastodon.social/embed.js" async="async"></script>
    <iframe src="https://mastodon.social/@dlx/112622960781574179/embed" class="mastodon-embed" style="max-width: 100%; border: 0" width="400" allowfullscreen="allowfullscreen"></iframe><script src="https://mastodon.social/embed.js" async="async"></script>
    <iframe src="https://mastodon.social/@dlx/112622961818224185/embed" class="mastodon-embed" style="max-width: 100%; border: 0" width="400" allowfullscreen="allowfullscreen"></iframe><script src="https://mastodon.social/embed.js" async="async"></script>
    <iframe src="https://mastodon.social/@dlx/112622962364182443/embed" class="mastodon-embed" style="max-width: 100%; border: 0" width="400" allowfullscreen="allowfullscreen"></iframe><script src="https://mastodon.social/embed.js" async="async"></script>
    <iframe src="https://iosdev.space/@StewartLynch/112627895304524469/embed" class="mastodon-embed" style="max-width: 100%; border: 0" width="400" allowfullscreen="allowfullscreen"></iframe><script src="https://iosdev.space/embed.js" async="async"></script>
    <iframe src="https://mastodon.social/@tolmasky/112628720874792741/embed" class="mastodon-embed" style="max-width: 100%; border: 0" width="400" allowfullscreen="allowfullscreen"></iframe><script src="https://mastodon.social/embed.js" async="async"></script>
    <iframe src="https://mastodon.social/@caseyhanley/112628376421570774/embed" class="mastodon-embed" style="max-width: 100%; border: 0" width="400" allowfullscreen="allowfullscreen"></iframe><script src="https://mastodon.social/embed.js" async="async"></script>
	</main>

	<footer>
		<span>
			<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-mastodon"
				viewBox="0 0 16 16">
				<path
					d="M11.19 12.195c2.016-.24 3.77-1.475 3.99-2.603.348-1.778.32-4.339.32-4.339 0-3.47-2.286-4.488-2.286-4.488C12.062.238 10.083.017 8.027 0h-.05C5.92.017 3.942.238 2.79.765c0 0-2.285 1.017-2.285 4.488l-.002.662c-.004.64-.007 1.35.011 2.091.083 3.394.626 6.74 3.78 7.57 1.454.383 2.703.463 3.709.408 1.823-.1 2.847-.647 2.847-.647l-.06-1.317s-1.303.41-2.767.36c-1.45-.05-2.98-.156-3.215-1.928a4 4 0 0 1-.033-.496s1.424.346 3.228.428c1.103.05 2.137-.064 3.188-.189zm1.613-2.47H11.13v-4.08c0-.859-.364-1.295-1.091-1.295-.804 0-1.207.517-1.207 1.541v2.233H7.168V5.89c0-1.024-.403-1.541-1.207-1.541-.727 0-1.091.436-1.091 1.296v4.079H3.197V5.522q0-1.288.66-2.046c.456-.505 1.052-.764 1.793-.764.856 0 1.504.328 1.933.983L8 4.39l.417-.695c.429-.655 1.077-.983 1.934-.983.74 0 1.336.259 1.791.764q.662.757.661 2.046z" />
			</svg>
			<a href="https://mastodon.social/@mrjohnsly">Mastodon</a>
		</span>
		<span>
			<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-github"
				viewBox="0 0 16 16">
				<path
					d="M8 0C3.58 0 0 3.58 0 8c0 3.54 2.29 6.53 5.47 7.59.4.07.55-.17.55-.38 0-.19-.01-.82-.01-1.49-2.01.37-2.53-.49-2.69-.94-.09-.23-.48-.94-.82-1.13-.28-.15-.68-.52-.01-.53.63-.01 1.08.58 1.23.82.72 1.21 1.87.87 2.33.66.07-.52.28-.87.51-1.07-1.78-.2-3.64-.89-3.64-3.95 0-.87.31-1.59.82-2.15-.08-.2-.36-1.02.08-2.12 0 0 .67-.21 2.2.82.64-.18 1.32-.27 2-.27s1.36.09 2 .27c1.53-1.04 2.2-.82 2.2-.82.44 1.1.16 1.92.08 2.12.51.56.82 1.27.82 2.15 0 3.07-1.87 3.75-3.65 3.95.29.25.54.73.54 1.48 0 1.07-.01 1.93-.01 2.2 0 .21.15.46.55.38A8.01 8.01 0 0 0 16 8c0-4.42-3.58-8-8-8" />
			</svg>
			<a href="https://github.com/mrjohnsly">Github</a>
		</span>
	</footer>
</body>
</html>
