<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Sly: John Sylvester | Dog Walker & iOS Engineer</title>
	<style>
		@media (prefers-color-scheme: light) {
			:root {
				--bg-color: #ffffff;
				--text-color: #333;
			}
		}

		@media (prefers-color-scheme: dark) {
			:root {
				--bg-color: #333;
				--text-color: #f5f5f5;
			}
		}

		body {
			font-family: sans-serif;
			background-color: var(--bg-color);
			color: var(--text-color);
		}

		a {
			color: var(--text-color);
		}

		a svg {
			color: var(--text-color);
		}
	</style>
</head>

<body>
	<header>
		<h1>Sly</h1>
	</header>

	<main>
		<h1>WWDC24</h1>
  
        <h2>Developer Site</h2>
        <ul>
            <li><a href="https://developer.apple.com/wwdc24/">WWDC24</a></li>
            <li><a href="https://developer.apple.com/wwdc24/sessions/">Sessions</a></li>
            <li><a href="https://developer.apple.com/wwdc24/guides/">Guides</a></li>
            <li><a href="https://developer.apple.com/forums/">Forums</a></li>
            <li><a href="https://www.youtube.com/@AppleDeveloper/">YouTube</a></li>
        </ul>

        <h2>Day One</h2>
		<a href="https://developer.apple.com/news/?id=20mtt804">Today @ WWDC24: Day 1</a>

        <h3>Videos</h3>
        <ul>
            <li><a href="https://www.apple.com/apple-events/">Keynote</a> <a href="https://www.youtube.com/watch?v=RXeOiIDNNek">YouTube</a></li>
            <li><a href="">Platforms State of the Union</a></li>
        </ul>
        
        <h3>Articles</h3>
        <ul>
        <li><a href="https://developer.apple.com/documentation/updates/swiftui">SwiftUI updates</a></li>
        <li><a href="https://developer.apple.com/documentation/SwiftUI/TextRenderer">TextRenderer</a></li>
		<li><a href="https://www.hackingwithswift.com/articles/269/whats-new-in-swift-6">What's new in Swift 6.0?</a> Paul Hudson</li>
        </ul>
        
        <h3>Toots</h3>
        <iframe src="https://mastodon.social/@Pschiller/112592953051684896/embed" class="mastodon-embed" style="max-width: 100%; border: 0" width="400" allowfullscreen="allowfullscreen"></iframe><script src="https://mastodon.social/embed.js" async="async"></script>
        <iframe src="https://mastodon.social/@mactanaka/112593449292670733/embed" class="mastodon-embed" style="max-width: 100%; border: 0" width="400" allowfullscreen="allowfullscreen"></iframe><script src="https://mastodon.social/embed.js" async="async"></script>
        <iframe src="https://mastodon.social/@mactanaka/112593513997173343/embed" class="mastodon-embed" style="max-width: 100%; border: 0" width="400" allowfullscreen="allowfullscreen"></iframe><script src="https://mastodon.social/embed.js" async="async"></script>
        <iframe src="https://mastodon.social/@mactanaka/112593535784202944/embed" class="mastodon-embed" style="max-width: 100%; border: 0" width="400" allowfullscreen="allowfullscreen"></iframe><script src="https://mastodon.social/embed.js" async="async"></script>
        <iframe src="https://mastodon.social/@mactanaka/112593562907533314/embed" class="mastodon-embed" style="max-width: 100%; border: 0" width="400" allowfullscreen="allowfullscreen"></iframe><script src="https://mastodon.social/embed.js" async="async"></script>
        <iframe src="https://mastodon.social/@mactanaka/112593594021618838/embed" class="mastodon-embed" style="max-width: 100%; border: 0" width="400" allowfullscreen="allowfullscreen"></iframe><script src="https://mastodon.social/embed.js" async="async"></script>
        <iframe src="https://mastodon.social/@mactanaka/112593646160787517/embed" class="mastodon-embed" style="max-width: 100%; border: 0" width="400" allowfullscreen="allowfullscreen"></iframe><script src="https://mastodon.social/embed.js" async="async"></script>
        <iframe src="https://mastodon.social/@Cdespinosa/112593604295069880/embed" class="mastodon-embed" style="max-width: 100%; border: 0" width="400" allowfullscreen="allowfullscreen"></iframe><script src="https://mastodon.social/embed.js" async="async"></script>
        <iframe src="https://mastodon.social/@tolmasky/112593618054737936/embed" class="mastodon-embed" style="max-width: 100%; border: 0" width="400" allowfullscreen="allowfullscreen"></iframe><script src="https://mastodon.social/embed.js" async="async"></script>
        <iframe src="https://techhub.social/@anAppleEmployee/112593614958212472/embed" class="mastodon-embed" style="max-width: 100%; border: 0" width="400" allowfullscreen="allowfullscreen"></iframe><script src="https://techhub.social/embed.js" async="async"></script>
        <iframe src="https://mastodon.social/@gedeonm/112593673923566887/embed" class="mastodon-embed" style="max-width: 100%; border: 0" width="400" allowfullscreen="allowfullscreen"></iframe><script src="https://mastodon.social/embed.js" async="async"></script>
        <iframe src="https://mastodon.social/@shantara/112593699691277971/embed" class="mastodon-embed" style="max-width: 100%; border: 0" width="400" allowfullscreen="allowfullscreen"></iframe><script src="https://mastodon.social/embed.js" async="async"></script>
        <iframe src="https://mastodon.social/@jefframes/112593701526837713/embed" class="mastodon-embed" style="max-width: 100%; border: 0" width="400" allowfullscreen="allowfullscreen"></iframe><script src="https://mastodon.social/embed.js" async="async"></script>
        <iframe src="https://mastodon.social/@mactanaka/112593778140353121/embed" class="mastodon-embed" style="max-width: 100%; border: 0" width="400" allowfullscreen="allowfullscreen"></iframe><script src="https://mastodon.social/embed.js" async="async"></script>
        <iframe src="https://mastodon.social/@gedeonm/112593831042392193/embed" class="mastodon-embed" style="max-width: 100%; border: 0" width="400" allowfullscreen="allowfullscreen"></iframe><script src="https://mastodon.social/embed.js" async="async"></script>
        <iframe src="https://social.panic.com/@cabel/112593843152220844/embed" class="mastodon-embed" style="max-width: 100%; border: 0" width="400" allowfullscreen="allowfullscreen"></iframe><script src="https://social.panic.com/embed.js" async="async"></script>
        <iframe src="https://mastodon.social/@stroughtonsmith/112593862748433033/embed" class="mastodon-embed" style="max-width: 100%; border: 0" width="400" allowfullscreen="allowfullscreen"></iframe><script src="https://mastodon.social/embed.js" async="async"></script>
        <iframe src="https://mastodon.social/@stroughtonsmith/112593878035401586/embed" class="mastodon-embed" style="max-width: 100%; border: 0" width="400" allowfullscreen="allowfullscreen"></iframe><script src="https://mastodon.social/embed.js" async="async"></script>
        <iframe src="https://mastodon.social/@mvo/112593730701166510/embed" class="mastodon-embed" style="max-width: 100%; border: 0" width="400" allowfullscreen="allowfullscreen"></iframe><script src="https://mastodon.social/embed.js" async="async"></script>
        <iframe src="https://mastodon.social/@mactanaka/112593903000561537/embed" class="mastodon-embed" style="max-width: 100%; border: 0" width="400" allowfullscreen="allowfullscreen"></iframe><script src="https://mastodon.social/embed.js" async="async"></script>
        <iframe src="https://mastodon.social/@_inside/112593905752182808/embed" class="mastodon-embed" style="max-width: 100%; border: 0" width="400" allowfullscreen="allowfullscreen"></iframe><script src="https://mastodon.social/embed.js" async="async"></script>
        <iframe src="https://mastodon.social/@danielpunkass/112593970252285229/embed" class="mastodon-embed" style="max-width: 100%; border: 0" width="400" allowfullscreen="allowfullscreen"></iframe><script src="https://mastodon.social/embed.js" async="async"></script>
        <iframe src="https://mastodon.social/@dlx/112594024858152381/embed" class="mastodon-embed" style="max-width: 100%; border: 0" width="400" allowfullscreen="allowfullscreen"></iframe><script src="https://mastodon.social/embed.js" async="async"></script>
        <iframe src="https://mastodon.social/@ryanlintott/112594040435290492/embed" class="mastodon-embed" style="max-width: 100%; border: 0" width="400" allowfullscreen="allowfullscreen"></iframe><script src="https://mastodon.social/embed.js" async="async"></script>
        <iframe src="https://techhub.social/@xcodereleases/112594087952321801/embed" class="mastodon-embed" style="max-width: 100%; border: 0" width="400" allowfullscreen="allowfullscreen"></iframe><script src="https://techhub.social/embed.js" async="async"></script>
        <iframe src="https://hachyderm.io/@samhenrigold/112593976360975672/embed" class="mastodon-embed" style="max-width: 100%; border: 0" width="400" allowfullscreen="allowfullscreen"></iframe><script src="https://hachyderm.io/embed.js" async="async"></script>
        <iframe src="https://mastodon.social/@twostraws/112594128759602208/embed" class="mastodon-embed" style="max-width: 100%; border: 0" width="400" allowfullscreen="allowfullscreen"></iframe><script src="https://mastodon.social/embed.js" async="async"></script>
        <iframe src="https://mastodon.social/@elektrojunge/112594049038554263/embed" class="mastodon-embed" style="max-width: 100%; border: 0" width="400" allowfullscreen="allowfullscreen"></iframe><script src="https://mastodon.social/embed.js" async="async"></script>
        <iframe src="https://mastodon.social/@Mecid/112594150118120077/embed" class="mastodon-embed" style="max-width: 100%; border: 0" width="400" allowfullscreen="allowfullscreen"></iframe><script src="https://mastodon.social/embed.js" async="async"></script>
        <iframe src="https://mastodon.social/@stern/112594173067059363/embed" class="mastodon-embed" style="max-width: 100%; border: 0" width="400" allowfullscreen="allowfullscreen"></iframe><script src="https://mastodon.social/embed.js" async="async"></script>
        <iframe src="https://mastodon.social/@marcel/112594176758433067/embed" class="mastodon-embed" style="max-width: 100%; border: 0" width="400" allowfullscreen="allowfullscreen"></iframe><script src="https://mastodon.social/embed.js" async="async"></script>
        <iframe src="https://fedi.simonwillison.net/@simon/112594192280211716/embed" class="mastodon-embed" style="max-width: 100%; border: 0" width="400" allowfullscreen="allowfullscreen"></iframe><script src="https://fedi.simonwillison.net/embed.js" async="async"></script>
        <iframe src="https://front-end.social/@jensimmons/112594149808315455/embed" class="mastodon-embed" style="max-width: 100%; border: 0" width="400" allowfullscreen="allowfullscreen"></iframe><script src="https://front-end.social/embed.js" async="async"></script>
        <iframe src="https://mastodon.social/@Mecid/112594205988288169/embed" class="mastodon-embed" style="max-width: 100%; border: 0" width="400" allowfullscreen="allowfullscreen"></iframe><script src="https://mastodon.social/embed.js" async="async"></script>
        <iframe src="https://mastodon.social/@airspeedswift/112594233340269442/embed" class="mastodon-embed" style="max-width: 100%; border: 0" width="400" allowfullscreen="allowfullscreen"></iframe><script src="https://mastodon.social/embed.js" async="async"></script>
        <iframe src="https://mastodon.social/@airspeedswift/112594253312723844/embed" class="mastodon-embed" style="max-width: 100%; border: 0" width="400" allowfullscreen="allowfullscreen"></iframe><script src="https://mastodon.social/embed.js" async="async"></script>
        <iframe src="https://mastodon.social/@stroughtonsmith/112594254022308963/embed" class="mastodon-embed" style="max-width: 100%; border: 0" width="400" allowfullscreen="allowfullscreen"></iframe><script src="https://mastodon.social/embed.js" async="async"></script>
        <iframe src="https://mastodon.social/@simonbs/112594260931025607/embed" class="mastodon-embed" style="max-width: 100%; border: 0" width="400" allowfullscreen="allowfullscreen"></iframe><script src="https://mastodon.social/embed.js" async="async"></script>
        <iframe src="https://mastodon.social/@marioguzman/112594326846035573/embed" class="mastodon-embed" style="max-width: 100%; border: 0" width="400" allowfullscreen="allowfullscreen"></iframe><script src="https://mastodon.social/embed.js" async="async"></script>
        <iframe src="https://mastodon.social/@marioguzman/112594333841470062/embed" class="mastodon-embed" style="max-width: 100%; border: 0" width="400" allowfullscreen="allowfullscreen"></iframe><script src="https://mastodon.social/embed.js" async="async"></script>
        <iframe src="https://mastodon.social/@finnvoorhees/112594317824082204/embed" class="mastodon-embed" style="max-width: 100%; border: 0" width="400" allowfullscreen="allowfullscreen"></iframe><script src="https://mastodon.social/embed.js" async="async"></script>
        <iframe src="https://mastodon.social/@airspeedswift/112594363001504073/embed" class="mastodon-embed" style="max-width: 100%; border: 0" width="400" allowfullscreen="allowfullscreen"></iframe><script src="https://mastodon.social/embed.js" async="async"></script>
        <iframe src="https://mastodon.social/@dlx/112594364269853895/embed" class="mastodon-embed" style="max-width: 100%; border: 0" width="400" allowfullscreen="allowfullscreen"></iframe><script src="https://mastodon.social/embed.js" async="async"></script>
        <iframe src="https://iosdev.space/@feli/112593821284199119/embed" class="mastodon-embed" style="max-width: 100%; border: 0" width="400" allowfullscreen="allowfullscreen"></iframe><script src="https://iosdev.space/embed.js" async="async"></script>
	</main>

	<footer>
		<span>
			<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-mastodon"
				viewBox="0 0 16 16">
				<path
					d="M11.19 12.195c2.016-.24 3.77-1.475 3.99-2.603.348-1.778.32-4.339.32-4.339 0-3.47-2.286-4.488-2.286-4.488C12.062.238 10.083.017 8.027 0h-.05C5.92.017 3.942.238 2.79.765c0 0-2.285 1.017-2.285 4.488l-.002.662c-.004.64-.007 1.35.011 2.091.083 3.394.626 6.74 3.78 7.57 1.454.383 2.703.463 3.709.408 1.823-.1 2.847-.647 2.847-.647l-.06-1.317s-1.303.41-2.767.36c-1.45-.05-2.98-.156-3.215-1.928a4 4 0 0 1-.033-.496s1.424.346 3.228.428c1.103.05 2.137-.064 3.188-.189zm1.613-2.47H11.13v-4.08c0-.859-.364-1.295-1.091-1.295-.804 0-1.207.517-1.207 1.541v2.233H7.168V5.89c0-1.024-.403-1.541-1.207-1.541-.727 0-1.091.436-1.091 1.296v4.079H3.197V5.522q0-1.288.66-2.046c.456-.505 1.052-.764 1.793-.764.856 0 1.504.328 1.933.983L8 4.39l.417-.695c.429-.655 1.077-.983 1.934-.983.74 0 1.336.259 1.791.764q.662.757.661 2.046z" />
			</svg>
			<a href="https://mastodon.social/@mrjohnsly">Mastodon</a>
		</span>
		<span>
			<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-github"
				viewBox="0 0 16 16">
				<path
					d="M8 0C3.58 0 0 3.58 0 8c0 3.54 2.29 6.53 5.47 7.59.4.07.55-.17.55-.38 0-.19-.01-.82-.01-1.49-2.01.37-2.53-.49-2.69-.94-.09-.23-.48-.94-.82-1.13-.28-.15-.68-.52-.01-.53.63-.01 1.08.58 1.23.82.72 1.21 1.87.87 2.33.66.07-.52.28-.87.51-1.07-1.78-.2-3.64-.89-3.64-3.95 0-.87.31-1.59.82-2.15-.08-.2-.36-1.02.08-2.12 0 0 .67-.21 2.2.82.64-.18 1.32-.27 2-.27s1.36.09 2 .27c1.53-1.04 2.2-.82 2.2-.82.44 1.1.16 1.92.08 2.12.51.56.82 1.27.82 2.15 0 3.07-1.87 3.75-3.65 3.95.29.25.54.73.54 1.48 0 1.07-.01 1.93-.01 2.2 0 .21.15.46.55.38A8.01 8.01 0 0 0 16 8c0-4.42-3.58-8-8-8" />
			</svg>
			<a href="https://github.com/mrjohnsly">Github</a>
		</span>
	</footer>
</body>
</html>
